.contact-us-main-section{
  margin:0 auto !important;
  padding-top: 40px !important;
}

.banner-section-heading{
   text-align: center !important; 
}
.desktop_area{
    display: block !important;
    margin-left: -240%;
}

.sub{
    display: flex;
    align-items: baseline;
}

.mobile_area{
  display: none !important;
}

.banner-section-heading h1{
    padding-top: 145px !important;
    color: #ffffff8c !important;
    font-size: 80px !important;
    font-weight: 800!important;
    font-family: 'Montserrat' !important;
    text-transform: uppercase !important;
}

.contact-us-main-head h2{
    text-align: center !important;
    font-size: 40px !important;	
    font-family: 'Montserrat' !important;
    font-weight: 800 !important;
    position: relative !important;
}

.news-letter-content p{
    font-family: 'Montserrat' !important;
    margin-top:10px !important;
    font-size:16px !important;
    text-align:justify !important;
}
.contact-us-main-head{
	position: relative !important;
}

.contact-input-style {
    box-shadow: inset 0 0 3px 3px #00000029 !important;
    background: #fff !important;
    border-radius: 9px !important;
    height: 50px !important;
}

.contact-us-main-head:after{
     content:url('../../image/contact/contact-heading-border.png') !important; 
     position: absolute !important;
     left: 0 !important;
     right: 0 !important;
     text-align: center !important;
    top: 45px !important;
}


.contact-us-sub-heading{
	 margin-top: 30px !important;
}
.contact-us-sub-heading h4{
    color: #FD152A !important;
    text-align: center !important;
    font-size: 25px !important;
    font-style: italic !important;
    font-family: 'Montserrat' !important;
    font-weight: 600 !important;
}


.contact-us-sub-heading p{
    text-align: center !important;
    font-size: 20px !important;
    color: #4D4D4D !important;
    font-family: 'Montserrat' !important;
    font-style: italic !important;
}


/*Contact form*/

.contact-form-section{
  margin: 0 auto !important;
  padding-top: 40px !important;
}


.form-heading h6{
  font-size: 25px !important;
  font-weight: 800 !important;
  font-family: 'Montserrat' !important;
  text-align:left !important; 
}

.submit-contact{
    background-color: #FD4251 !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 5px !important;
    width: 100px !important;
    font-size: 18px !important;
    color: #fff !important;
    margin-top: 15px !important;
}
.submit-contact:hover{
    background-color: #ffffff !important;
    color: #FD4251 !important;
    border: 1px solid #FD4251 !important;
}

.contact-ul:before{
    content: '' !important;
    width: 0px !important;
    height: 90% !important;
    position: absolute !important;
    left: 15px !important;
    top: 25px !important;
    border: 1.5px solid #FD152A !important;
}

.getin-touch-ul ul li h5{
	font-size: 20px !important;
    color: #FD152A !important;
    font-weight: 800 !important;
    font-family: 'Montserrat' !important;
}


.contact-ul-small-para{
   color: #FD152A !important;
   margin-top: -15px !important;
}

.getin-touch-ul ul{
   list-style-type: none !important;
}


.getin-touch-ul{
   padding: 0 0 0 15px;
}

/* .contact-news-letter-section{
      background-image: url('../../image/contact/news-letter-image.png');
      background-position: right;
      background-size: cover;
      background-repeat: no-repeat;
} */

.subscribe-desktop-image{
   margin-left: -230%;
}

.news-letter-content{
   margin-top: 85px;
}
/* .news-letter-image{
   display: none !important;
} */
/* Contact Detail Section*/
.contact-detail-section{
   margin: 0 auto !important;
   padding-top: 40px !important;
}

.contact-detail-content{
    border: 1px solid #707070 !important;
    padding: 20px 25px 20px 25px !important;
    height: 160px !important;
    text-align: justify !important;
    display: inline-flex !important;
}

.contact-detail-icon img{
   width: 80px !important;
}
.contact-detail-content h6{
	color: #FD152A !important;
    font-size: 20px !important;
    font-weight: 800 !important;
    font-family: 'Montserrat' !important;
    margin-left: 15px !important;
}

.contact-detail-li{
   text-align: justify !important;
   list-style-type: none !important;
   margin-left: 17px !important;
}

.contact-detail-content p{
   font-size: 16px !important;
   margin-left: 15px !important;
}

.contact-detail-list-h6{
    margin-top: -10px !important;
}


.contact-detail-list-h6 a{
    color: #FD152A !important;
    font-size: 15px !important;	
}



/* Contact news letter section */


.contact-news-letter-section{
   margin:0 auto !important;
   padding-top: 40px !important;
} 

.subscribe-desktop-image{
    display: block !important;
}
/*.news-letter-image img{
 
  margin-left: -78pc;
}*/

.news-letter-input-grp-contact{
     width: 75% !important;
}

.submit-news-btn{
   background-color: #FD4251 !important;
    color: #fff !important;
}

.submit-news-btn:hover{
    background-color: #ffffff!important;
    color: #FD4251!important;
    border: 1px solid #FD4251!important;
}
.news-letter-content h6{
    font-size: 22px !important;
    font-weight: 800 !important;
    font-family: 'Montserrat' !important;
    margin-bottom: 10px !important;
}

.news-letter-content-btn{
   margin-top: 30px !important;
}
.submit-wedding{
    background-color: #FD4251 !important;
    color: #fff !important;
    padding: 10px !important;
    border-radius: 10px !important;
    text-decoration: none !important;
    font-size: 18px !important;
}


.submit-register{
    border: 1px solid #707070 !important;
    padding: 10px !important;
    border-radius: 10px !important;
    text-decoration: none !important;
    color: #4D4D4D !important;
    font-size: 18px !important;
    margin-left: 30px !important;
}

#alertbox{
 box-shadow: 0 0 5pt 0.5pt #D3D3D3 !important; 
}

.news-letter-image{
	position: relative !important;
}


.contact-service-head{
	position: relative !important;
}


.contact-social-service{
   font-size: 25px!important;
}

.contact-social-ul{
  margin-top: 20px!important;
}

.social-contact{
	position: relative !important;
}
.social-contact:after{
  content:url('../../image/contact/character-1.png') !important; 
  position: absolute !important;
  left: 0% !important;
  top: 2px !important;
}


.social-contact:before{
  content:url('../../image/contact/character-2.png') !important; 
  position: absolute !important;
  left: 88% !important;
  top: 0 !important;
}

.subscribe-mobile-image{
     display: none !important;
}

.contact-submit-btn{
          text-align: left !important;
}

.banner-secion-common{
    height: 70vh !important;
}

.insta-row{
    height: 40vh !important;
}
/*.contact-social-ul{
  margin-bottom: 50px!important;
}*/
/*@media only screen and (min-width:1201px) and (max-width:1401px){
.contact-ul:before {
  content: '';
  width: 0px;
  height: 557px;
  position: absolute;
  left: 15px;
  top: 0;
  border: 1.5px solid #FD152A;
}

.contact-detail-li {
  margin-left: 0;
  padding: 0 0 0 15px;
}

.contact-news-letter-section .form-control {
  margin:  0;
}
}
*/

/* Desktop and laptop  Media css*/

@media screen and (max-width: 1440px){
  
  .insta-row {
    height: 40vh !important;
}

  .social-contact{
     margin-top: 25px !important;
  }
  .insta-content h6{
     padding-top: 60px !important;
  }
   

} 


 /*@media screen and (max-width: 1200px){

 

 }*/
 @media screen and (max-width: 1269px){
   .subscribe-desktop-image {
      margin-left: -241% !important;
  }
 }
 @media screen and (max-width: 1024px){
     .desktop_area {
        display: block !important;
        margin-left: -296%;
     }
     .contact-detail-content p {
        font-size: 16px !important;
        margin-left: -6px !important;
        width: 100% !important;
    }
    .contact-detail-li{
        margin-left: -28px !important;
    }
    .subscribe-desktop-image {
      margin-left: -298% !important;
  }

 }

/*not working*/
 @media  screen and (max-width: 992px){
      .contact-ul:before{
         height: 95% !important;
      }  

      .contact-detail-content{
          padding: 20px 11px 20px 7px !important;
      }

      .contact-detail-li{
         margin-left: 0 !important;
      }

      .contact-detail-li li{
         text-align: center;
      }
      .subscribe-mobile-image{
           display: block !important;
      }

      .subscribe-desktop-image{
          display: none !important;
      }
    
 }
 @media only screen and (min-width: 769px) and (max-width: 991.5px) {
   .getin-touch-ul{
      padding: 0 0 0 15px;
    }

    .contact-detail-content{
      margin: 10px 0 0 0;
      width: 100%;
    }
    .social-contact:before {
      left: 82% !important;
      top: 0 !important;
  }
  .social-contact:after {
   top: 2px !important;
}
}


 /*Tablet media css*/

@media  screen and (max-width: 768px){
        .form-heading h6{
           text-align: center !important;
        }

        .contact-submit-btn{
          text-align: center !important;
        }

        .getin-touch-ul{
           margin-top: 25px !important;
        }
        .contact-ul:before{
           display: none !important;
        }

        .getin-touch-ul{
            margin-left: 0 !important; 
        }

        .contact-detail-content{
            width: 227px !important;
            margin-top: 20px !important;
        }
        
        .contact-news-letter-section{
            margin: -55px auto !important;
        }

        .input-group-append{
           padding: 0px !important; 
        }
        
        .subscribe-mobile-image{
            margin-left: -35px !important;
        }

        .insta-feed-section{
            padding-top: 145px !important; 
        }

       .insta-row {
            height: 25vh !important;
        }
      
        .insta-content{
            margin-top: -30px !important;
        }
       .social-contact:before {
          left: 80% !important;
        }

        .social-icon-img{
          width: 65px !important;
        }

        .social-contact:after{
           top: -11px !important; 
        }
        .social-contact:before{
           top: -11px !important; 
        }
        .contact-detail-content p {
             margin-left: 0 !important;
             width: 100% !important;
           }
         .news-letter-image {
             position: relative !important;
             margin-top: 3%;
          }

        .contact-detail-content{
              height: 237px !important;
              display: block !important;
              text-align: center !important;
        }
}

 @media  screen and (max-width: 767px){
        .form-heading h6{
           text-align: center !important;
        }

        .contact-submit-btn{
          text-align: center !important;
        }

        .getin-touch-ul{
           margin-top: 25px !important;
        }
        .contact-ul:before{
           display: none !important;
        }

        .getin-touch-ul{
            margin-left: 0 !important; 
        }

        .contact-detail-content{
            width: 509px !important;
            margin-top: 20px !important;
        }
        
        .contact-news-letter-section{
            margin: -5px auto !important;
        }

        .input-group-append{
           padding: 10px 0px !important; 
        }
        
        .subscribe-mobile-image{
            margin-left: -35px !important;
        }

        .insta-feed-section{
            padding-top: 145px !important; 
        }

        .insta-row{
           height: 39vh !important;
        }
      
        .insta-content{
            margin-top: -30px !important;
        }
        .social-contact:before{
          left: 77% !important;
        }
        
        .news-letter-image {
            position: relative !important;
            margin-top: 1%!important;
        }
        .contact-detail-content {
              width: 100% !important;
              margin-top: 20px !important;
        }
        
 }

 @media screen and (max-width: 550px){
        .form-heading h6{
            text-align: left !important;
        }

        .form-heading h6{
           text-align: center !important;
        }

        .contact-submit-btn{
           text-align: left !important;
        }
        .contact-news-letter-section {
         margin: -57px auto !important;
     }
       /* .contact-detail-content p {
            margin-left: 160px !important;
            width: 100% !important;
        } */
        .contact-detail-li {
              margin-left: 140px !important;
        }
        .news-letter-content{
          margin-left: 20px !important;
        }

        .news-letter-content p{
           padding: 0 20px !important;
           margin-left: -20px !important;
        }
        

        .subscribe-mobile-image{
           margin-left: -16px !important;
           width: 490px !important;
        }
        .social-icon-img{
          width: 65px !important;
        }
        .social-contact:before{
            left: 73% !important;
            display: none;
        }
        .social-contact:before{
            top: 0px !important;
            display: none;
        }
        .social-contact:after{
          top: 5px !important;
          display: none;
        }
        
        .insta-row {
          height: 42vh !important;
        }
 }

/*Mobile media css*/

  @media screen and (max-width: 476px){
           .banner-section-heading h1{
                   font-size: 60px !important;
           }

          .contact-detail-content{
             width: 375px !important;
          }
          

          .social-icon-img{
             width: 60px !important;
          }

          .social-contact:after{
            top: -16px !important;
            display: none;
          }
           .social-contact:before{
            top: -16px !important;
            display: none;
          }


          /* .contact-detail-content p{
             margin-left: 107px !important;
          } */

          .contact-detail-li{
             margin-left: 65px !important;
          }
          
          .news-letter-content p{
             padding: 0 45px !important;
             margin-left: -50px !important;
          }
          .subscribe-mobile-image{
             margin-left: 9px !important;
             width: 325px !important;
          }
          .insta-row {
                height: 40vh !important;
            }

          .social-contact:after{
             top: -1px !important;
             display: none;
          }
          .social-contact:before{
             top: -1px !important;
             display: none;
          }
          .form-heading h6{
             text-align: left !important;
          }
          
          .news-letter-image {
              position: relative !important;
              margin-top: 1%;
           }
  }


  @media  screen  and (max-width: 427px){
         .contact-detail-content
          .social-contact:before{
             left: 68% !important;
          }

          .social-icon-img{
             width: 60px !important;
          }

          .social-contact:after{
            top: -16px !important;
          }
           .social-contact:before{
            top: -16px !important;
          }
          .contact-detail-content{
              width: 385px !important;
          }

          .insta-row{
             height: 50vh !important;
          }

          .social-contact:before{
             /*top: -6px !important;*/
             display: none !important;
          }
          .social-contact:after{
             /*top: -6px !important;*/
             display: none !important;
          }
          .insta-btn {

              padding-top: 5px !important;
          }

  }



 /*small media css*/
  @media  screen and (max-width: 376px){

          .banner-section-heading h1{
               font-size: 50px !important;
          }
         
          .social-contact:before{
             left: 68% !important;
          }

          .social-icon-img{
             width: 60px !important;
          }

          .social-contact:after{
            top: -16px !important;
          }
           .social-contact:before{
            top: -16px !important;
          }
         .contact-detail-content{
              width: 345px !important;
         }
         /* .contact-detail-content p{
             margin-left: 85px !important;
         } */

         .contact-detail-li{
             margin-left: 47px !important;
         }
        
  }

   @media  screen and (max-width: 360px){

          .banner-section-heading h1{
               font-size: 50px !important;
          }
         
          .social-contact:before{
             left: 68% !important;
          }

          .social-icon-img{
             width: 60px !important;
          }
          .news-letter-content h6{
            font-size: 23px !important;
          }

          .social-contact:after{
            top: -16px !important;
          }
           .social-contact:before{
            top: -16px !important;
          }
         .contact-detail-content{
              width: 315px !important;
         }
         /* .contact-detail-content p{
             margin-left: 50px !important;
         } */

         .contact-detail-li{
             margin-left: 47px !important;
         }
         .insta-row {
             height: 42vh !important;
         }
        
  }


  @media screen and (max-width: 320px){

          .banner-section-heading h1 {
              font-size: 40px !important;
           }

         
          .social-contact:before{
             left: 68% !important;
          }

          .social-icon-img{
             width: 60px !important;
          }

          .social-contact:after{
            top: -16px !important;
          }
           .social-contact:before{
            top: -16px !important;
          }
          .contact-detail-content {
            width: 295px !important;
          }

          .contact-detail-content p {
              margin-left: 55px !important;
           }
           .contact-detail-li {
             margin-left: 20px !important;
           }
           
           .news-letter-content h6{
             font-size: 19px !important;
           }

           .news-letter-content p {
              padding: 0 25px !important;
              margin-left: -22px !important;
          }
  }
