
#designAndDecorSection {
  overflow-x: hidden;
}
@media screen and (max-width: 425px) {
  #designAndDecorSection .banner-section-heading h1 {
    font-size: 35px !important;
  }
}
#designAndDecorSection .web_plan {
  padding-top: 7rem !important;
}
@media screen and (max-width: 1199px) {
  #designAndDecorSection .web_plan {
    padding-top: 5rem !important;
  }
}
@media screen and (max-width: 480px) {
  #designAndDecorSection .web_plan {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
#designAndDecorSection .web_plan .container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
@media screen and (max-width: 1199px) {
  #designAndDecorSection .web_plan .container .row .mwp_main_cont::before {
    display: none;
  }
}
#designAndDecorSection .web_plan .container .row .mwp_main_cont .mwp_content .mwp_design {
  width: -moz-fit-content;
  width: fit-content;
}
#designAndDecorSection .web_plan .container .row .mwp_main_cont .mwp_content .mwp_design:after {
  left: auto;
  right: -60px;
  top: 50%;
  transform: translate(0, -50%);
  width: 50px;
}
#designAndDecorSection .web_plan .container .row .mwp_main_cont .mwp_content2 p {
  font-size: calc(15px + 0.2vw) !important;
}
@media screen and (max-width: 480px) {
  #designAndDecorSection .web_plan .container .row .mwp_main_cont {
    padding-bottom: 30px !important;
  }
}
@media screen and (max-width: 350px) {
  #designAndDecorSection .web_plan .container .row .mwp_img_div:after {
    height: 350px !important;
  }
}
#designAndDecorSection .stepSection {
  margin-top: 6rem;
}
#designAndDecorSection .stepSection .inner-content {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}
#designAndDecorSection .stepSection .inner-content .header h2 {
  color: #f5001e;
  font-family: "Montserrat";
  font-size: calc(30px + 0.2vw);
  text-align: center;
}
@media screen and (max-width: 475px) {
  #designAndDecorSection .stepSection .inner-content .header h2 {
    font-size: calc(22px + 0.2vw);
  }
}
#designAndDecorSection .stepSection .inner-content .body {
  margin-top: 3rem;
}
#designAndDecorSection .stepSection .inner-content .body .inner-body .box {
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  #designAndDecorSection .stepSection .inner-content .body .inner-body .box:first-child {
    margin-top: 0px;
  }
}
#designAndDecorSection .stepSection .inner-content .body .inner-body .box img {
  width: 100%;
}
@media screen and (max-width: 767px) {
  #designAndDecorSection .stepSection .inner-content .body .inner-body .box img {
    width: 60%;
  }
}
@media screen and (max-width: 550px) {
  #designAndDecorSection .stepSection .inner-content .body .inner-body .box img {
    width: 70%;
  }
}
@media screen and (max-width: 475px) {
  #designAndDecorSection .stepSection .inner-content .body .inner-body .box img {
    width: 80%;
  }
}
@media screen and (max-width: 425px) {
  #designAndDecorSection .stepSection .inner-content .body .inner-body .box img {
    width: 100%;
  }
}
#designAndDecorSection .epic_sec {
  margin-top: 3rem;
  padding-top: 0 !important;
}
#designAndDecorSection .epic_sec .container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
@media screen and (max-width: 475px) {
  #designAndDecorSection .epic_sec .container {
    padding: 0px !important;
  }
}
@media screen and ((max-width: 991px)) {
  #designAndDecorSection .epic_sec .container .heading p {
    font-size: calc(15px + 0.2vw) !important;
  }
}
#designAndDecorSection .epic_sec .container .epic_row .epic-content-1 .epic_content, #designAndDecorSection .epic_sec .container .epic_row .epic-content-2 .epic_content, #designAndDecorSection .epic_sec .container .epic_row .epic-content-3 .epic_content {
  padding-left: 10px;
}
#designAndDecorSection .epic_sec .container .epic_row .epic-content-1 .epic_content .epic_name, #designAndDecorSection .epic_sec .container .epic_row .epic-content-2 .epic_content .epic_name, #designAndDecorSection .epic_sec .container .epic_row .epic-content-3 .epic_content .epic_name {
  font-size: calc(20px + 0.2vw);
  font-weight: 500;
}
#designAndDecorSection .epic_sec .container .epic_row .epic-content-1 .epic_content .epic_plan_name, #designAndDecorSection .epic_sec .container .epic_row .epic-content-2 .epic_content .epic_plan_name, #designAndDecorSection .epic_sec .container .epic_row .epic-content-3 .epic_content .epic_plan_name {
  font-size: calc(45px + 0.2vw);
  font-weight: 800;
}
#designAndDecorSection .epic_sec .container .epic_row .epic-content-1 .epic_content .epic_points, #designAndDecorSection .epic_sec .container .epic_row .epic-content-2 .epic_content .epic_points, #designAndDecorSection .epic_sec .container .epic_row .epic-content-3 .epic_content .epic_points {
  padding-left: 25px;
}
#designAndDecorSection .epic_sec .container .epic_row .epic-content-1 .epic_amt_div, #designAndDecorSection .epic_sec .container .epic_row .epic-content-2 .epic_amt_div, #designAndDecorSection .epic_sec .container .epic_row .epic-content-3 .epic_amt_div {
  padding: 10px;
}
@media screen and ((max-width: 991px)) {
  #designAndDecorSection .epic_sec .container .epic_row .epic_plans {
    height: 250px;
  }
}
@media screen and ((max-width: 767px)) {
  #designAndDecorSection .epic_sec .container .epic_row .epic_plans {
    height: 200px;
  }
  #designAndDecorSection .epic_sec .container .epic_row .epic_plans:first-child {
    margin-top: 20px;
  }
}
@media screen and ((max-width: 475px)) {
  #designAndDecorSection .epic_sec .container .epic_row .epic_plans {
    flex-direction: column;
    height: -moz-fit-content !important;
    height: fit-content !important;
    margin-bottom: 20px;
  }
  #designAndDecorSection .epic_sec .container .epic_row .epic_plans:first-child {
    margin-top: 0px;
  }
}
@media screen and ((max-width: 475px)) {
  #designAndDecorSection .epic_sec .container .epic_row .epic_plans .basic_plan {
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 100% !important;
  }
  #designAndDecorSection .epic_sec .container .epic_row .epic_plans .basic_plan .epic_common_amt {
    margin-top: 0px !important;
    margin-left: 0px !important;
    width: -moz-fit-content;
    width: fit-content;
  }
  #designAndDecorSection .epic_sec .container .epic_row .epic_plans .basic_plan .mobile-epic-know-more {
    width: -moz-fit-content !important;
    width: fit-content !important;
    margin-left: 0px;
  }
  #designAndDecorSection .epic_sec .container .epic_row .epic_plans .basic_plan .mwp_char {
    right: 10px;
    top: 28px;
    font-size: calc(16px + 0.2vw) !important;
    width: 50px;
    height: 50px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
#designAndDecorSection .epic_sec .container .epic_row .epic_plans .epic_plan_detail {
  padding: 0 10px 0 40px !important;
}
@media screen and ((max-width: 475px)) {
  #designAndDecorSection .epic_sec .container .epic_row .epic_plans .epic_plan_detail {
    padding: 20px 10px 20px 10px !important;
  }
}
#designAndDecorSection .epic_sec .container .epic_row .epic_plans .epic_plan_detail h4, #designAndDecorSection .epic_sec .container .epic_row .epic_plans .epic_plan_detail p {
  padding: 0px !important;
}
@media screen and ((max-width: 991px)) {
  #designAndDecorSection .epic_sec .container .epic_row .epic_plans .epic_plan_detail p {
    font-size: calc(15px + 0.2vw) !important;
  }
}
#designAndDecorSection .explorePackagePlans .body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#designAndDecorSection .explorePackagePlans .body .inner-body {
  padding: 10px;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  height: 400px;
}
@media screen and (max-width: 767px) {
  #designAndDecorSection .explorePackagePlans .body .inner-body {
    height: -moz-fit-content;
    height: fit-content;
    padding: 50px 0px;
  }
}
@media screen and (max-width: 767px) {
  #designAndDecorSection .explorePackagePlans .body .inner-body .left {
    text-align: center;
  }
}
#designAndDecorSection .explorePackagePlans .body .inner-body .left img {
  width: 100%;
}
@media screen and (max-width: 767px) {
  #designAndDecorSection .explorePackagePlans .body .inner-body .left img {
    width: 300px;
  }
}
@media screen and (max-width: 320px) {
  #designAndDecorSection .explorePackagePlans .body .inner-body .left img {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  #designAndDecorSection .explorePackagePlans .body .inner-body .right {
    align-items: center;
  }
}
#designAndDecorSection .explorePackagePlans .body .inner-body .right span {
  color: white;
  font-size: calc(15px + 0.2vw);
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  #designAndDecorSection .explorePackagePlans .body .inner-body .right span {
    text-align: center;
  }
}
#designAndDecorSection .explorePackagePlans .body .inner-body .right h4 {
  font-size: calc(30px + 0.2vw);
  color: white;
  font-family: "Montserrat";
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  #designAndDecorSection .explorePackagePlans .body .inner-body .right h4 {
    text-align: center;
  }
}
@media screen and (max-width: 475px) {
  #designAndDecorSection .explorePackagePlans .body .inner-body .right h4 {
    font-size: calc(25px + 0.2vw);
  }
}
@media screen and (max-width: 375px) {
  #designAndDecorSection .explorePackagePlans .body .inner-body .right h4 {
    font-size: calc(22px + 0.2vw);
  }
}
#designAndDecorSection .explorePackagePlans .body .inner-body .right p {
  font-size: calc(22px + 0.2vw) !important;
  color: white;
  font-family: "Montserrat";
}
@media screen and (max-width: 767px) {
  #designAndDecorSection .explorePackagePlans .body .inner-body .right p {
    text-align: center;
    font-size: calc(20px + 0.2vw) !important;
  }
}
@media screen and (max-width: 475px) {
  #designAndDecorSection .explorePackagePlans .body .inner-body .right p {
    font-size: calc(17px + 0.2vw) !important;
  }
}
@media screen and (max-width: 375px) {
  #designAndDecorSection .explorePackagePlans .body .inner-body .right p {
    font-size: calc(16px + 0.2vw) !important;
  }
}
#designAndDecorSection .explorePackagePlans .body .inner-body .right a {
  background-color: white;
  padding: 12px 20px;
  border-radius: 6px;
  text-decoration: none;
  color: #f5001e;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Montserrat";
  font-size: calc(16px + 0.2vw);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.2s;
  font-weight: 600;
}
#designAndDecorSection .explorePackagePlans .body .inner-body .right a:hover {
  background-color: #fce3e3;
}