
#destinationWeedingSection {
  overflow-x: hidden;
}
@media screen and (max-width: 475px) {
  #destinationWeedingSection .choose_sec p {
    font-size: calc(14px + 0.2vw) !important;
    margin-top: 5px;
  }
}
@media screen and (max-width: 1199px) {
  #destinationWeedingSection .choose_sec .why_chooose {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 575px) {
  #destinationWeedingSection .choose_sec .card {
    margin: 10px !important;
  }
}
#destinationWeedingSection .dream_sec {
  height: -moz-fit-content !important;
  height: fit-content !important;
}
#destinationWeedingSection .dream_sec .dream_timetable .container {
  width: 100%;
  max-width: 1200px !important;
  margin: auto;
}
@media screen and (max-width: 480px) {
  #destinationWeedingSection .dream_sec .dream_timetable .container .content1 p {
    font-size: calc(14px + 0.2vw) !important;
  }
  #destinationWeedingSection .dream_sec .dream_timetable .container .content1:after {
    top: auto !important;
    bottom: -178px !important;
    left: 54% !important;
    transform: translate(-50%, 0);
    width: 80% !important;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100% !important;
  }
}
@media screen and (max-width: 430px) {
  #destinationWeedingSection .dream_sec .dream_timetable .container .content1:after {
    bottom: -200px !important;
  }
}
@media screen and (max-width: 400px) {
  #destinationWeedingSection .dream_sec .dream_timetable .container .content1:after {
    left: 55% !important;
    width: 94% !important;
  }
}
@media screen and (max-width: 350px) {
  #destinationWeedingSection .dream_sec .dream_timetable .container .content1:after {
    left: 56% !important;
    width: 94% !important;
  }
  .jawaan_couple{
    display: none !important;
  }
}
#destinationWeedingSection .dream_sec .dream_timetable .container .dream_row .data:last-child {
  height: -moz-fit-content;
  height: fit-content;
}
#destinationWeedingSection .jawaani {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 5rem;
}
#destinationWeedingSection .jawaani .container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
#destinationWeedingSection .jawaani .container .jawaani_bg {
  height: 50vh;
}
@media screen and (max-width: 767px) {
  #destinationWeedingSection .jawaani .container .jawaani_bg {
    height: -moz-fit-content !important;
    height: fit-content !important;
    padding: 40px 5px;
  }
}
@media screen and (max-width: 425px) {
  #destinationWeedingSection .jawaani .container .jawaani_bg {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
@media screen and (max-width: 767px) {
  #destinationWeedingSection .jawaani .container .jawaani_bg .jawaan_row {
    align-content: center;
  }
}
@media screen and (max-width: 767px) {
  #destinationWeedingSection .jawaani .container .jawaani_bg .jawaan_row .left {
    text-align: center;
    margin-bottom: 10px;
  }
}
#destinationWeedingSection .jawaani .container .jawaani_bg .jawaan_row .left img {
  width: 60% !important;
  height: 100% !important;
  max-height: 100% !important;
}
@media screen and (max-width: 767px) {
  #destinationWeedingSection .jawaani .container .jawaani_bg .jawaan_row .left img {
    width: 60% !important;
  }
}
#destinationWeedingSection .jawaani .container .jawaani_bg .jawaan_row .right .jaawani_content p {
  font-size: calc(13px + 0.2vw) !important;
}
@media screen and (max-width: 475px) {
  #destinationWeedingSection .jawaani .container .jawaani_bg .jawaan_row .right .jaawani_content p {
    font-size: calc(15px + 0.2vw) !important;
  }
}
#destinationWeedingSection .jawaani .container .jawaani_bg .jawaan_row .right .jaawani_content p span {
  background-color: #f5001e;
}
#destinationWeedingSection .jawaani .container .jawaani_bg .jawaan_row .right .jaawan_contact h6 {
  font-size: calc(20px + 0.2vw) !important;
}
#destinationWeedingSection .jawaani .container .jawaani_bg .jawaan_row .right .jaawan_contact p strong {
  font-size: calc(15px + 0.2vw) !important;
}
#destinationWeedingSection .jawaani .container .jawaani_bg .jawaan_row .right .jaawan_btn a {
  font-size: calc(14px + 0.2vw) !important;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 425px) {
  #destinationWeedingSection .jawaani .container .jawaani_bg .jawaan_row .right .jaawan_btn a {
    width: 100%;
  }
}
#destinationWeedingSection .jawaani .container .jawaani_bg .jawaan_row .right .jawaan_couple {
  right: -122px !important;
  bottom: -47px !important;
}
@media screen and (max-width: 767px) {
  #destinationWeedingSection .jawaani .container .jawaani_bg .jawaan_row .right .jawaan_couple {
    display: block !important;
    right: -45px !important;
    bottom: -43px !important;
  }
}
@media screen and (max-width: 425px) {
  #destinationWeedingSection .jawaani .container .jawaani_bg .jawaan_row .right .jawaan_couple {
    display: block !important;
    right: -50px !important;
    bottom: -130px !important;
  }
}
@media screen and (max-width: 600px) {
  #destinationWeedingSection .jawaani .container .jawaani_bg .jawaan_row .right .jawaan_couple img {
    display: block !important;
  }
}
@media screen and (max-width: 420px) {
  #destinationWeedingSection .jawaani .container .jawaani_bg .jawaan_row .right .jawaan_couple img {
    height: 120px;
  }
}
@media screen and (max-width: 360px) {
  #destinationWeedingSection .jawaani .container .jawaani_bg .jawaan_row .right .jawaan_couple img {
    height: 120px !important;
  }
}/*# sourceMappingURL=umesh-style.css.map */