html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

#mainPageSection .boxWidth {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}
#mainPageSection .heroSection {
  height: 78vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#mainPageSection .heroSection .innerHeroSection {
  height: 100%;
  width: 100%;
  max-width: 800px;
  margin: auto;
}
#mainPageSection .heroSection .innerHeroSection .logo img {
  width: 200px;
}
@media screen and (max-width: 767px) {
  #mainPageSection .heroSection .innerHeroSection .logo img {
    width: 180px;
  }
}
@media screen and (max-width: 550px) {
  #mainPageSection .heroSection .innerHeroSection .logo img {
    width: 150px;
  }
}
#mainPageSection .heroSection .innerHeroSection .innerContent {
  padding: 5px;
}
#mainPageSection .heroSection .innerHeroSection .innerContent h1 {
  color: white;
  font-size: calc(40px + 0.2vw);
  font-family: "Montserrat";
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  #mainPageSection .heroSection .innerHeroSection .innerContent h1 {
    font-size: calc(35px + 0.2vw);
  }
}
@media screen and (max-width: 550px) {
  #mainPageSection .heroSection .innerHeroSection .innerContent h1 {
    font-size: calc(30px + 0.2vw);
  }
}
@media screen and (max-width: 425px) {
  #mainPageSection .heroSection .innerHeroSection .innerContent h1 {
    font-size: calc(25px + 0.2vw);
  }
  #mainPageSection .heroSection .innerHeroSection .innerContent form button{
	         margin-top: 20px !important;
       }
}
@media screen and (max-width: 325px) {
  #mainPageSection .heroSection .innerHeroSection .innerContent h1 {
    font-size: calc(22px + 0.2vw);
  }
  #mainPageSection .heroSection .innerHeroSection .innerContent form button{
	         margin-top: 20px !important;
       }
}
#mainPageSection .heroSection .innerHeroSection .innerContent h4 {
  color: white;
  font-size: calc(23px + 0.2vw);
  font-family: "Montserrat";
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  #mainPageSection .heroSection .innerHeroSection .innerContent h4 {
    font-size: calc(20px + 0.2vw);
  }
}
@media screen and (max-width: 550px) {
  #mainPageSection .heroSection .innerHeroSection .innerContent h4 {
    font-size: calc(18px + 0.2vw);
  }
}
@media screen and (max-width: 425px) {
  #mainPageSection .heroSection .innerHeroSection .innerContent h4 {
    font-size: calc(17px + 0.2vw);
  }
}
@media screen and (max-width: 325px) {
  #mainPageSection .heroSection .innerHeroSection .innerContent h4 {
    font-size: calc(16px + 0.2vw);
  }
}
#mainPageSection .heroSection .innerHeroSection .innerContent form {
  width: 100%;
}
#mainPageSection .heroSection .innerHeroSection .innerContent form .box {
  padding: 5px;
}
#mainPageSection .heroSection .innerHeroSection .innerContent form select {
  border: 1px solid rgb(216, 216, 216);
  padding: 10px 3px;
  border-radius: 5px;
  width: 250px;
  outline: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: calc(14px + 0.2vw);
  font-family: "Montserrat";
  cursor: pointer;
  color: #000;
  -webkit-text-fill-color: #000;
}
#mainPageSection .heroSection .innerHeroSection .innerContent form select:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#mainPageSection .heroSection .innerHeroSection .innerContent form button {
  background-color: #aa4d4f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: calc(14px + 0.2vw);
  font-family: "Montserrat";
  outline: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.2s;
}
#mainPageSection .heroSection .innerHeroSection .innerContent form button:hover {
  background-color: white;
  color: #f5001e;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#mainPageSection .categorySliderSection {
  padding: 10px;
}
#mainPageSection .categorySliderSection .body .inner-body .box {
  background-color: #aa4d4f;
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
}
#mainPageSection .categorySliderSection .body .inner-body .box .image img {
  width: 100px;
}
#mainPageSection .categorySliderSection .body .inner-body .box .image .white {
  display: block;
}
#mainPageSection .categorySliderSection .body .inner-body .box .image .hover {
  display: none;
}
#mainPageSection .categorySliderSection .body .inner-body .box h4 {
  font-size: calc(14px + 0.2vw);
  font-family: "Montserrat";
  color: white;
  text-align: center;
}
#mainPageSection .categorySliderSection .body .inner-body .box:hover {
  background-color: rgba(253, 21, 42, 0.1411764706);
}
#mainPageSection .categorySliderSection .body .inner-body .box:hover .image .white {
  display: none;
}
#mainPageSection .categorySliderSection .body .inner-body .box:hover .image .hover {
  display: block;
}
#mainPageSection .categorySliderSection .body .inner-body .box:hover h4 {
  color: #f5001e;
}
#mainPageSection .introductionSection {
  padding: 5px;
}
@media screen and (max-width: 475px) {
  #mainPageSection .introductionSection .innerContent .box {
    padding: 0 10px;
  }
}
#mainPageSection .introductionSection .innerContent .box .inner-box {
  height: 100%;
}
#mainPageSection .introductionSection .innerContent .box .inner-box img {
  width: 100px;
}
#mainPageSection .introductionSection .innerContent .box .inner-box h5 {
  font-size: calc(13px + 0.2vw);
  font-family: "Montserrat";
  font-weight: 400;
}
#mainPageSection .introductionSection .innerContent .box .inner-box h3 {
  font-size: calc(25px + 0.2vw);
  font-family: "Montserrat";
}
@media screen and (max-width: 550px) {
  #mainPageSection .introductionSection .innerContent .box .inner-box h3 {
    font-size: calc(22px + 0.2vw);
  }
}
@media screen and (max-width: 475px) {
  #mainPageSection .introductionSection .innerContent .box .inner-box h3 {
    font-size: calc(21px + 0.2vw);
  }
}
@media screen and (max-width: 375px) {
  #mainPageSection .introductionSection .innerContent .box .inner-box h3 {
    font-size: calc(20px + 0.2vw);
  }
}
@media screen and (max-width: 325px) {
  #mainPageSection .introductionSection .innerContent .box .inner-box h3 {
    font-size: calc(18px + 0.2vw);
  }
}
#mainPageSection .introductionSection .innerContent .box .inner-box h3 span {
  color: #f5001e;
}
#mainPageSection .introductionSection .innerContent .box .inner-box p {
  font-size: calc(12px + 0.2vw) !important;
  font-family: "Montserrat";
}
@media screen and (max-width: 1199px) {
  #mainPageSection .introductionSection .innerContent .box .inner-box p {
    font-size: calc(14px + 0.2vw) !important;
  }
}
@media screen and (max-width: 767px) {
  #mainPageSection .introductionSection .innerContent .box .inner-box p {
    font-size: calc(15px + 0.2vw) !important;
  }
}
@media screen and (max-width: 375px) {
  #mainPageSection .introductionSection .innerContent .box .inner-box p {
    font-size: calc(14px + 0.2vw) !important;
  }
}
#mainPageSection .introductionSection .innerContent .box .inner-box a {
  background-color: #f5001e;
  color: white;
  padding: 10px 20px;
  font-size: calc(14px + 0.2vw);
  border-radius: 5px;
  border: 1px solid #f5001e;
  text-decoration: none;
  transition: 0.2s;
  font-family: "Montserrat";
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#mainPageSection .introductionSection .innerContent .box .inner-box a:hover {
  background-color: white;
  color: #f5001e;
}
#mainPageSection .introductionSection .innerContent .box .inner-box .readMore {
  background-color: transparent;
  outline: none;
  border: none;
  color: #f5001e;
  font-size: calc(12px + 0.2vw);
  padding: 0px;
  font-weight: 500;
  box-shadow: none;
}
#mainPageSection .introductionSection .innerContent .box .inner-box .readMore:hover {
  text-decoration: underline;
}
#mainPageSection .introductionSection .innerContent .firstBox .inner-box .introHeader {
  font-size: calc(45px + 0.2vw);
}
@media screen and (max-width: 550px) {
  #mainPageSection .introductionSection .innerContent .firstBox .inner-box .introHeader {
    font-size: calc(35px + 0.2vw);
  }
}
@media screen and (max-width: 475px) {
  #mainPageSection .introductionSection .innerContent .firstBox .inner-box .introHeader {
    font-size: calc(30px + 0.2vw);
  }
}
@media screen and (max-width: 375px) {
  #mainPageSection .introductionSection .innerContent .firstBox .inner-box .introHeader {
    font-size: calc(25px + 0.2vw);
  }
}
@media screen and (max-width: 325px) {
  #mainPageSection .introductionSection .innerContent .firstBox .inner-box .introHeader {
    font-size: calc(22px + 0.2vw);
  }
}
#mainPageSection .introductionSection .innerContent .firstBox .inner-box a {
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 475px) {
  #mainPageSection .introductionSection .innerContent .firstBox .inner-box a {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  #mainPageSection .introductionSection .innerContent .firstBox .inner-box {
    width: 100%;
    max-width: 900px;
  }
}
@media screen and (max-width: 1199px) {
  #mainPageSection .introductionSection .innerContent .contentBox {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 550px) {
  #mainPageSection .introductionSection .innerContent .contentBox {
    margin-top: 1.5rem;
  }
}
#mainPageSection .introductionSection .innerContent .contentBox .inner-box {
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#mainPageSection .ourApproachSection {
  margin-top: 4rem;
}
#mainPageSection .ourApproachSection .innerContent {
  background-color: #fd4251;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
}
#mainPageSection .ourApproachSection .innerContent .header h3 {
  color: white;
  font-family: "Montserrat";
  font-size: calc(30px + 0.2vw);
  font-weight: 600;
}
#mainPageSection .ourApproachSection .innerContent .body {
  margin-top: 2rem;
}
#mainPageSection .ourApproachSection .innerContent .body .inner-body .box {
  padding: 1rem 0;
}
@media screen and (max-width: 767px) {
  #mainPageSection .ourApproachSection .innerContent .body .inner-body .box {
    border-bottom: 1px solid #d53e4a;
  }
}
#mainPageSection .ourApproachSection .innerContent .body .inner-body .box .inner-box {
  padding: 10px;
  gap: 10px;
}
#mainPageSection .ourApproachSection .innerContent .body .inner-body .box .inner-box .top {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
#mainPageSection .ourApproachSection .innerContent .body .inner-body .box .inner-box .top img {
  width: 60px;
}
#mainPageSection .ourApproachSection .innerContent .body .inner-body .box .inner-box .top h5 {
  color: white;
  font-family: "Montserrat";
  font-size: calc(15px + 0.2vw);
  margin: 0px;
}
#mainPageSection .ourApproachSection .innerContent .body .inner-body .box .inner-box p {
  color: white;
  font-family: "Montserrat";
  font-size: calc(12px + 0.2vw) !important;
}
@media screen and (max-width: 1199px) {
  #mainPageSection .ourApproachSection .innerContent .body .inner-body .box .inner-box p {
    font-size: calc(14px + 0.2vw) !important;
  }
}
@media screen and (max-width: 767px) {
  #mainPageSection .ourApproachSection .innerContent .body .inner-body .box .inner-box p {
    font-size: calc(15px + 0.2vw) !important;
  }
}
#mainPageSection .ourApproachSection .innerContent .body .inner-body .box .inner-box .hide {
  display: none;
}
#mainPageSection .ourApproachSection .innerContent .body .inner-body .box .inner-box button {
  border: none;
  background-color: transparent;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: underline;
  font-family: "Montserrat";
  font-size: calc(12px + 0.2vw);
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  #mainPageSection .ourApproachSection .innerContent .body .inner-body .box:last-child {
    border-bottom: none;
  }
}
#mainPageSection .mwpsolutionSection {
  margin-top: 5rem;
}
#mainPageSection .mwpsolutionSection .innerContent .header h5 {
  font-family: "Montserrat";
  font-size: calc(17px + 0.2vw);
}
#mainPageSection .mwpsolutionSection .innerContent .header h2 {
  font-family: "Montserrat";
  font-size: calc(30px + 0.2vw);
  font-weight: 600;
}
#mainPageSection .mwpsolutionSection .innerContent .header h2 span {
  color: #f5001e;
}
#mainPageSection .mwpsolutionSection .innerContent .header h6 {
  font-family: "Montserrat";
  font-size: calc(14px + 0.2vw);
}
#mainPageSection .mwpsolutionSection .innerContent .body {
  margin-top: 1rem;
}
#mainPageSection .mwpsolutionSection .innerContent .body .inner-body {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 10px;
}
@media screen and (max-width: 550px) {
  #mainPageSection .mwpsolutionSection .innerContent .body .inner-body {
    padding: 0px;
  }
}
#mainPageSection .mwpsolutionSection .innerContent .body .inner-body .box {
  margin: 10px 0;
  padding: 0 10px;
}
#mainPageSection .mwpsolutionSection .innerContent .body .inner-body .box .inner-box {
  background-color: #aa4d4f;
  border: 1px solid #aa4d4f;
  padding: 20px;
  height: 100%;
  gap: 5px;
  border-radius: 10px;
  transition: 0.2s;
}
@media screen and (max-width: 475px) {
  #mainPageSection .mwpsolutionSection .innerContent .body .inner-body .box .inner-box {
    align-items: center;
  }
}
#mainPageSection .mwpsolutionSection .innerContent .body .inner-body .box .inner-box .top {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
#mainPageSection .mwpsolutionSection .innerContent .body .inner-body .box .inner-box .top .image img {
  width: 80px;
}
#mainPageSection .mwpsolutionSection .innerContent .body .inner-body .box .inner-box .top .image .white {
  display: block;
}
#mainPageSection .mwpsolutionSection .innerContent .body .inner-body .box .inner-box .top .image .hover {
  display: none;
}
#mainPageSection .mwpsolutionSection .innerContent .body .inner-body .box .inner-box .top h4 {
  color: white;
  font-family: "Montserrat";
  font-size: calc(16px + 0.2vw);
  font-weight: 600;
  margin: 0px;
}
#mainPageSection .mwpsolutionSection .innerContent .body .inner-body .box .inner-box p {
  color: white;
  font-family: "Montserrat";
  font-size: calc(14px + 0.2vw) !important;
}
@media screen and (max-width: 475px) {
  #mainPageSection .mwpsolutionSection .innerContent .body .inner-body .box .inner-box p {
    text-align: center;
  }
}
#mainPageSection .mwpsolutionSection .innerContent .body .inner-body .box .inner-box a {
  background-color: rgba(255, 255, 255, 0.3019607843);
  color: white;
  padding: 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
}
@media screen and (max-width: 475px) {
  #mainPageSection .mwpsolutionSection .innerContent .body .inner-body .box .inner-box a {
    width: 100%;
    text-align: center;
  }
}
#mainPageSection .mwpsolutionSection .innerContent .body .inner-body .box .inner-box:hover {
  background-color: rgba(253, 21, 42, 0.1411764706);
  border: 1px solid #f5001e;
}
#mainPageSection .mwpsolutionSection .innerContent .body .inner-body .box .inner-box:hover .image .white {
  display: none;
}
#mainPageSection .mwpsolutionSection .innerContent .body .inner-body .box .inner-box:hover .image .hover {
  display: block;
}
#mainPageSection .mwpsolutionSection .innerContent .body .inner-body .box .inner-box:hover h4 {
  color: #f5001e;
}
#mainPageSection .mwpsolutionSection .innerContent .body .inner-body .box .inner-box:hover p {
  color: #f5001e;
}
#mainPageSection .mwpsolutionSection .innerContent .body .inner-body .box .inner-box:hover a {
  background-color: #f5001e;
  color: white;
}
#mainPageSection .successStorySection {
  background-color: #f5001e;
  margin-top: 3rem;
}
#mainPageSection .successStorySection .innerContent {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 50px 10px;
}
#mainPageSection .successStorySection .innerContent .header h3 {
  font-family: "Montserrat";
  font-size: calc(25px + 0.2vw);
  font-weight: 600;
  color: white;
}
#mainPageSection .successStorySection .innerContent .body {
  margin-top: 2rem;
}
#mainPageSection .successStorySection .innerContent .body .inner-body .review .box {
  cursor: grab;
}
@media screen and (max-width: 475px) {
  #mainPageSection .successStorySection .innerContent .body .inner-body .review .box {
    padding: 0px;
  }
}
#mainPageSection .successStorySection .innerContent .body .inner-body .review .box .inner-box .left {
  padding: 10px;
}
#mainPageSection .successStorySection .innerContent .body .inner-body .review .box .inner-box .left img {
  width: 100%;
  border-radius: 5px;
}
#mainPageSection .successStorySection .innerContent .body .inner-body .review .box .inner-box .right {
  gap: 5px;
  padding: 10px;
}
#mainPageSection .successStorySection .innerContent .body .inner-body .review .box .inner-box .right h4 {
  color: white;
  font-size: calc(25px + 0.2vw);
  font-family: "Montserrat";
  font-weight: 600;
}
@media screen and (max-width: 475px) {
  #mainPageSection .successStorySection .innerContent .body .inner-body .review .box .inner-box .right h4 {
    font-size: calc(20px + 0.2vw);
  }
}
#mainPageSection .successStorySection .innerContent .body .inner-body .review .box .inner-box .right h5 {
  color: white;
  font-size: calc(15px + 0.2vw);
  font-family: "Montserrat";
  font-weight: 500;
}
@media screen and (max-width: 475px) {
  #mainPageSection .successStorySection .innerContent .body .inner-body .review .box .inner-box .right h5 {
    font-size: calc(14px + 0.2vw);
  }
}
#mainPageSection .successStorySection .innerContent .body .inner-body .review .box .inner-box .right p {
  color: white;
  font-size: calc(14px + 0.2vw) !important;
  font-family: "Montserrat";
}
@media screen and (max-width: 475px) {
  #mainPageSection .successStorySection .innerContent .body .inner-body .review .box .inner-box .right p {
    font-size: calc(13px + 0.2vw) !important;
    text-align: justify;
  }
}
#mainPageSection .successStorySection .innerContent .body .inner-body .review .box .inner-box .right .ratting {
  gap: 5px;
}
#mainPageSection .successStorySection .innerContent .body .inner-body .review .box .inner-box .right .ratting p {
  color: white;
  font-size: calc(11px + 0.2vw);
  font-family: "Montserrat";
}
#mainPageSection .successStorySection .innerContent .body .inner-body .review .box .inner-box .right .ratting span.checked {
  color: orange;
}
#mainPageSection .successStorySection .innerContent .body .inner-body .review .owl-item {
  border: none;
}
#mainPageSection .successStorySection .innerContent .body .inner-body .owl-dots {
  display: none;
}
#mainPageSection .vendor-categories .container {
  width: 100%;
  max-width: 1200px !important;
  margin: auto;
}
@media screen and (max-width: 767px) {
  #mainPageSection .vendor-categories .container .row .header .desktop_area {
    display: none;
  }
}
#mainPageSection .vendor-categories .container .row .view-category {
  width: -moz-fit-content !important;
  width: fit-content !important;
}
#mainPageSection .vendor-categories .container .row .footer {
  display: none;
}
@media screen and (max-width: 767px) {
  #mainPageSection .vendor-categories .container .row .footer {
    display: flex;
  }
}
#mainPageSection .vendor-categories .container .row .footer .vendor-btn-col {
  justify-content: center !important;
}
#mainPageSection .inspiration-highlights .container {
  width: 100%;
  max-width: 1200px !important;
  margin: auto !important;
}
#mainPageSection .home-logo-slider .container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
#mainPageSection .news-letter .news-letter-content {
  height: 40vh !important;
  margin: 0px !important;
  padding: 0px !important;
}
@media screen and (max-width: 550px) {
  #mainPageSection .news-letter .news-letter-content {
    height: 50vh !important;
  }
}
#mainPageSection .inspiration-highlights .container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.categorySliderSection h2{
    font-family: "Montserrat";
    font-size: calc(30px + 0.2vw);
    font-weight: 600;
    margin-top: -20px;
    margin-bottom: 20px;
}

.home-page-blog-title{
    color: #D60013 !important;
}

.home-page-blog-card{
    border-radius: 25px;
}
.home-page-blog-card img{
    border-radius: 25px;
}