@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
body{
   
     background-color: #FF6A73 !important;	
}

.checklist-banner-section{
    background-color: #FF6A73 !important;
    height: 450px !important;
    background-image: url(../../image/wedding-checklist/white-flower-border.png)!important;
} 

.checklist-banner-section .note{
    text-align: end !important;
    font-size: medium !important;
    margin-top: 9vh;
    margin-right: 10px;
    
}
.checklist-content{
    text-align: center !important;
    padding-top: 145px !important;
}

.checklist-content h1{
    font-size: 50px !important;
    color: #973738 !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 800 !important;
}


.checklist-content h5{
    color: #973738 !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    margin-top: 20px !important;
}


.checklist-service-1{
   background-color: #FFAEB3 !important;
   margin-top: 60px !important;
}

.checklist-btn a{
    padding: 4px !important;
    background-color: #973738 !important;
    width: 310px !important;
    text-align: center !important; 
    border-radius: 10px !important;
    color: #fff !important;
    display: block !important;
    font-size: 35px !important;
    font-weight: 800 !important;
    margin-top: -45px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    margin-left: 40px !important;
    text-decoration:none !important;
}


.chekclist-list ul{
    list-style-type: none !important;
}

.form-check-label{
	margin-left: 20px!important;
}
.form-check-checklist{
	color: #973738 !important;
    font-size: 20px !important;
    padding-top: 15px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    display: inline-flex !important;
}

.form-check-checklist  img{
	height: 25px !important;
    margin-left: -38px !important;
    margin-top: 6px !important;
    width: 25px !important;
}

.checklist-btn-right a{
     padding: 4px !important;
    background-color: #973738 !important;
    width: 310px !important;
    text-align: center !important;
    border-radius: 10px !important;
    color: #fff !important;
    display: block !important;
    font-size: 35px !important;
    font-weight: 800 !important;
    margin-top: -50px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    margin-left: 40px !important;
    text-decoration:none !important;
}


.checklist-service-2{
     background-color: #FFAEB3 !important;
     margin-top: 70px !important;
}


.empty-service:before{

    content: url(../../image/wedding-checklist/flower-border-left.png) !important;
    position: absolute !important;
    left: -1% !important;
    top: -65px !important;
}

.empty-service:after{

    content: url(../../image/wedding-checklist/flower-border-right.png) !important;
    position: absolute !important;
    left: 77% !important;
    top: -85px !important;
}


.empty-service{
   background-color: #FF6A73 !important;
   height: 210px !important;
   text-align: center !important;
   position: relative !important;
}

.empty-service h6{
    font-family: 'Style Script', cursive !important;
    color: #fff !important;
    font-size: 25px !important;
    font-weight: 800 !important;
    padding-top: 50px !important;
    letter-spacing: 3px !important;
}

.checklist-service-4{
    background-color: #FF9DA2 !important;
    height: 450px !important;
}

.bride-checklist-content{
    display: inline-flex !important;
    width: 1262px !important;
    padding: 20px !important;
    background-color: pink !important;
    margin-left: -75px !important;
    list-style-type: none !important;
}


.checklist-service-5{
   margin-top: 115px !important;
}
.bride-checklist{
    background-image: url(../../image/wedding-checklist/white-flower-border.png)!important;
}


.bride-checklist-content h6{
    margin-left: 100px !important;
    margin-top: 5px !important;
}


.bride-checklist-content p{
	margin-left: 106px !important;
}


.bride-checklist-1{
    display: inline-flex !important;
    background-color: #FFAEB3 !important;
    width: 1265px !important;
    margin-left: -77px !important;
    padding: 30px 20px !important;
    margin-bottom: 20px !important;
    height: 130px !important;

}

.bride-checklist-image-1{
    /*background-image: url(../image/wedding-checklist/bridal-makeup.png)!important;*/
    height: 55px !important;
    background-size: contain!important;
    margin-left: 80px !important;
    background-position: top left !important;
    background-repeat: no-repeat !important;
}


.bride-checklist-heading{
    margin-left: 68px !important;
    margin-top: 20px !important;
    font-size: 18px !important;
    padding: 2px !important;
    color: #973738 !important;
    font-weight: 800 !important;
    font-family: 'Montserrat', sans-serif !important;
}


.bride-checklist-para-1{
    width: 600px !important;
    margin-left: 40px !important;
    text-align: center !important;
    padding-top: 8px !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}



.bride-checklist-btn{
   position: relative !important;
}


#bride-checklist-btn-right{
   position: absolute !important;
}


#bride-checklist-btn-right a{
    padding: 4px !important;
    background-color: #973738 !important;
    width: 310px !important;
    text-align: center !important;
    border-radius: 10px !important;
    color: #fff !important;
    display: block !important;
    font-size: 35px !important;
    font-weight: 800 !important;
    margin-top: -40px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    margin-left: -60px !important;
    text-decoration: none !important;
}


.bride-checklist-1:before{
    content: '' !important;
    width: 0px !important;
    height: 710px !important;
    position: absolute !important;
    left: -20px !important;
    top: 20px !important; 
    border: 1.5px solid #b4a7a8 !important;
}



.checklist-input{
    /*appearance: none;
    -webkit-appearance: none;*/
    width: 20px !important;
    height: 20px !important;
    border: 2px solid #973738 !important;
    border-radius: 50% !important;
    margin-right: -30px !important;
    background-color: transparent !important;
    position: relative !important;
    top: 3px !important;
    margin-left: 15px!important;
    padding: 7px!important;
}


input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through !important;
}





.bridal-checklist-img-1{
	position: relative !important;
}

.bridal-checklist-img-2{
	position: relative !important;
}
.bridal-checklist-img-3{
	position: relative !important;
}
.bridal-checklist-img-4{
	position: relative !important;
}
.bridal-checklist-img-5{
	position: relative !important;
}

.bridal-checklist-img-1:before{
    content: url(../../image/wedding-checklist/grey-border.png) !important;
    position: absolute !important;
    left: -14% !important;
    top: 20px !important;
}

.bridal-checklist-img-2:before{
    content: url(../../image/wedding-checklist/grey-border.png) !important;
    position: absolute !important;
    left: -14% !important;
    top: 20px !important;
}
.bridal-checklist-img-3:before{
    content: url(../../image/wedding-checklist/grey-border.png) !important;
    position: absolute !important;
    left: -17% !important;
    top: 20px !important;
}
.bridal-checklist-img-4:before{
    content: url(../../image/wedding-checklist/grey-border.png) !important;
    position: absolute !important;
    left: -18% !important;
    top: 20px !important;
}

.bridal-checklist-img-5:before{
    content: url(../../image/wedding-checklist/grey-border.png) !important;
    position: absolute !important;
    left: -15% !important;
    top: 20px !important;
}


.checklist-col-2{
    margin-left: 60px !important;
}


.checklist-service-1{
	position: relative !important;
}
.checklist-service-1:after{
    content: '' !important;
    width: 0px !important;
    height: 733px !important;
    position: absolute !important;
    left: 50% !important;
    top: -16px !important;
    border: 1.5px solid #973738 !important;
}

.checklist-service-2{
    position: relative !important;
}
.checklist-service-2:after{
    content: '' !important;
    width: 0px !important;
    height: 267px !important;
    position: absolute !important;
    left: 50% !important;
    top: -13px !important;
    border: 1.5px solid #973738 !important;
}


.checklist-btn{
    position: relative;
}


.checklist-btn:after{
    display: inline-block !important;
    content: "";
    border: 1.5px solid #973738 !important;
    width: 13rem !important;
    left: 64% !important;
    top: 45px !important;
    transform: translateY(-1rem) !important;
    position: absolute !important;
}

.checklist-btn-right{
    position: relative !important;
}
.checklist-btn-right:after{
    display: inline-block !important;
    content: "" !important;
    border: 1.5px solid #973738 !important;
    width: 13rem !important;
    left: 64% !important;
    top: 45px !important;
    transform: translateY(-1rem) !important;
    position: absolute !important;
}

#two-months-btn{
    position: relative !important;
    padding: 4px !important;
    background-color: #973738 !important;
    width: 310px !important;
    text-align: center !important;
    border-radius: 10px !important;
    /*color:#fff!important;*/
   /* display: block !important;*/
    font-size: 35px !important;
    margin-top: -50px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    margin-left: 40px !important;
    text-decoration: none !important;
}


#two-months-btn:before{
    display: inline-block !important;
    content: "" !important;
    border: 1.5px solid #973738 !important;
    width: 4rem !important;
    left: -17% !important;
    top: 45px !important;
    transform: translateY(-1rem) !important ;
    position: absolute !important;
}


.six-eight-months-btn{
    position: relative;
    padding: 4px;
    background-color: #973738;
    width: 310px;
    text-align: center;
    border-radius: 10px;
    /*color:#fff!important;*/
    display: block;
    font-size: 35px;
    margin-top: -50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-left: 40px;
    text-decoration: none;
}


.six-eight-months-btn:before{
    display: inline-block;
    content: "";
    border: 1.5px solid #973738;
    width: 4rem;
    left: -17%;
    top: 45px;
    transform: translateY(-1rem);
    position: absolute;
}

.six-eight-months-btn a{
   position: relative;
} 

.six-eight-months-btn a:before{
    content: url(../../image/wedding-checklist/circle-icon-01.png);
    position: absolute;
    left: -39%;
    top: 9px;
}

#nine-twelve-months-btn a{
  position: relative;
}

#nine-twelve-months-btn a:before{
    content: url(../../image/wedding-checklist/circle-icon-01.png);
    position: absolute;
    left: 163%;
    top: 18px;
}


.months-btn-1 a{
   position: relative;
}


.months-btn-1 a:before{
    content: url(../../image/wedding-checklist/circle-icon-01.png);
    position: absolute;
    left: 163%;
    top: 18px;
}


#two-months-btn a{
    position: relative;
}

#two-months-btn a:before{
    content: url(../../image/wedding-checklist/circle-icon-01.png);
    position: absolute;
   left: -83%;
    top: 8px;   
}


#one-month-col{
  position: relative;
}

#one-month-col:after{
   content: url(../../image/wedding-checklist/circle-icon-01.png);
   left: 98%;
   top: 170px;
   z-index: 5; 
   position: absolute;
}


.check-para-1{
   padding-left: 45px;
}


.check-para-2{
    padding-left: 130px;
    margin-top: -15px;
}

.check-para-3{
    padding-left: 143px;
    margin-top: -20px;   
}


.check-para-4{
  margin-left: -45px!important;
}


.check-head-4{
   margin-top: 11px;
}


.months-btn-15{
    position: relative !important;
     background-color: #973738 !important;
    width: 310px !important;
    text-align: center !important;
    border-radius: 10px !important;
    color: #fff !important;
    display: block !important;
    font-size: 35px !important;
    font-weight: 800 !important;
    margin-top: -50px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    margin-left: 40px !important;
    text-decoration:none !important;
}


.months-btn-15:before{
    display: inline-block !important;
    content: "" !important;
    border: 1.5px solid #973738 !important;
    width: 4rem !important;
    left: -17% !important;
    top: 45px !important;
    transform: translateY(-1rem);
    position: absolute !important;
}

.months-btn-15 a:before{
    content: url(../../image/wedding-checklist/circle-icon-01.png) !important;
    position: absolute !important;
    left: -21% !important;
    top: 15px !important; 
}


.submitchecklist{
    position: relative !important;
    background-color: #973738 !important;
    width: 310px !important;
    text-align: center !important;
    border-radius: 10px !important;
    color: #fff !important;
    display: block !important;
    font-size: 35px !important;
    font-weight: 800 !important;
    margin-top: 70px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    margin-left: 418px !important;
    text-decoration: none !important;
    border: none !important;
}

.six-btn-mobile{
    display: none !important;
}

.six-btn-desktop{
   display: block !important;
}

.two-btn-month-desktop{
    display: block !important;
}

.two-btn-months-mobile{
   display: none !important;
}

.months-mobile-20{
  display: none!important;
}

.months-desktop-20{
    display: block !important;
}

@media screen and (max-width: 1440px){
   #nine-twelve-months-btn a:before{
      top: 10px !important;
   }

   .six-eight-months-btn a:before{
        top: -3px !important; 
   }

   .months-btn-1 a:before{
      top: 5px !important;
   }

   #two-months-btn a:before{
      top: -2px !important;
   }

   .months-btn-15 a:before{
      top: 6px !important;
   }

   .empty-service:after{
       left: 80% !important;
   }
}

@media screen and (max-width: 1200px){
      .empty-service:after{
           left: 76% !important;
      }
}
@media screen and (max-width: 1024px){
    .checklist-btn:after{
        width: 9rem !important;
        left: 72% !important;
    }
    #nine-twelve-months-btn a:before{
         left: 134% !important;
    }

    .checklist-btn-right:after{
        width: 9rem !important;
        left: 72% !important;
    }

    .months-btn-1 a:before{
        left: 134% !important;
    }

    .checklist-service-2:after{
        top: 11px !important;
    }
    #two-months-btn a:before{
        top: -1px !important;
    }
    .checklist-service-2:after{
         top: -4px !important;
    }
    .checklist-service-2:after {
          top: -4px !important;
     }
    .submitchecklist{
        margin-left: 315px !important;
    }
    .checklist-service-2:after {
        height: 287px !important;
    }

}

@media  screen and (max-width: 845px){
    .checklist-banner-section .note{
        text-align:center;
        margin-top:0;
    }
}

@media screen and (max-width:684px){
      .checklist-banner-section .note{
        margin-top:-10px;
        font-size:12px !important;
        text-align:center !important;
    }
}

@media  screen and (max-width: 768px){

    .empty-service:after{
         left: 63% !important;
    }

   .empty-service:before{
       top: -77px !important;
   }

   .checklist-btn:after{
       display: none !important;
   }

   #nine-twelve-months-btn a:before{
      display: none !important;
   }
   .checklist-service-1:after{
       display: none !important;
   }
   .six-eight-months-btn a:before{
     display: none !important;
   }
   .six-eight-months-btn:before{
      display: none !important;
   }

   .checklist-service-2:after{
     display: none !important;
   }

   .checklist-btn-right:after{
       display: none !important;
   }
   .months-btn-1 a:before{
      display: none !important;
   }

   #two-months-btn a:before{
      display: none !important;
   }

   #two-months-btn:before{
       display: none !important;
   }

   .months-btn-15 a:before{
     display: none !important;
   }

   .months-btn-15:before{
       display: none !important;
   }
   #one-month-col:after{
       display: none !important;
   }

   .submitchecklist {
         margin-left: 216px !important;
    }
}
@media screen and (max-width: 550px){


    .empty-service:after {
        left: 49% !important;
    }

    .checklist-content h1{
         font-size: 45px !important;
    }

    .checklist-col-2{
         margin-left: 5px !important;
    }

    .six-btn-mobile{
         display: block !important;
     }

    .six-btn-desktop{
       display: none !important;
    }

    .two-btn-month-desktop{
          display: none !important;
     }

     .two-btn-months-mobile{
          display: block !important;
     }

    .months-mobile-20{
         display: block!important;
    }

    .months-desktop-20{
        display: none !important;
    }
    .submitchecklist {
         margin-left: 109px !important;
    }


}

@media  screen  and (max-width: 426px){
        
        .checklist-content h1 {
          font-size: 40px !important;
        }
        .checklist-btn a{
            margin-top: 12px !important;
        }

       .empty-service:after{
         display: none !important;
       }

        .empty-service:before{
             display: none !important;
        }
        
        .submitchecklist{
             margin-left: 52px !important;
        }
}
@media  screen and (max-width: 376px){
       .submitchecklist {
               margin-left: 25px !important;
        }

        .checklist-content h1 {
           font-size: 30px !important;
        }

        .checklist-btn a {
           margin-top: -34px !important;
           margin-left: 20px !important;
        }

        .six-eight-months-btn{
            margin-left: 33px !important;
        }
}
@media screen and (max-width: 320px){
       .checklist-btn a {
           margin-top: -34px !important;
           margin-left: -9px !important;
        }

        .six-eight-months-btn {
            margin-left: -5px !important;
        }

        .checklist-btn-right a{
            margin-left: -4px !important;
        }
       
       #two-months-btn{
          margin-left: -6px !important;
       }

       #two-months-btn{
          margin-left: -6px !important;
       }
       .months-btn-15{
          margin-left: -9px !important;
       }
       .submitchecklist{
          margin-left: -3px !important;
       }
 }     
