
.banner-section-heading {
    text-align: center;
}
.banner-section-heading h1 {
    padding-top: 145px;
    color: #ffffff8c;
    font-size: 80px;
    font-weight: 800;
    font-family: 'Montserrat';
    text-transform: uppercase;
    margin-top: -10%;
}

.price_list .heading h1 {
    font-size: 50px;
    margin-top: 20px;
    color: #ff142a;
}
.price_list .heading p {
    margin-top: 20px !important;
    font-size: 20px !important;
}
.snip1255 {
    color: #000000;
    text-align: center;
    font-size: 16px;
    width: 100%;
    margin: 50px 10px 10px 0px;
}

.snip1255 .plan {
  margin: 0;
    width: 33.33%;
    /* height: 100%; */
    position: relative;
    float: left;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    height: 985px !important;
}

.snip1255 .plan:hover i,
.snip1255 .plan.hover i {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.snip1255 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.snip1255 header {
    position: relative;
    background-color: #fff;
    color: #000000;
    padding: 20px 20px;
}

.snip1255 header i {
    font-size: 56px;
    margin: 8px 0;
    color: #c0392b;
    display: inline-block;
}

.snip1255 .plan-title {
    top: 0;
    font-weight: 500;
    margin: 8px 0;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

.snip1255 .plan-cost {
    margin: 8px 0;
    color: #000000;
}

.snip1255 .plan-price {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 800;
    font-size: 1.3em;
    /* color: #ffffff; */
}

.snip1255 .plan-type {
    opacity: 0.8;
    /* color: #ffffff; */
    font-size: 0.7em;
    text-transform: uppercase;
}

.snip1255 .plan-features {
    padding: 0;
    margin: 0;
    text-align: left;
    list-style: outside none none;
    font-size: 0.8em;
}

.snip1255 .plan-features li {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 5%;
    font-weight: 500;
    display:flex;
}

/* .snip1255 .plan-features li:nth-child(even) {
background: rgba(0, 0, 0, 0.08);
} */
.snip1255 .plan-features i {
    margin-right: 8px;
    opacity: 0.4;
}

.snip1255 .plan-select {
    background-color: #FD152A;
    width: fit-content;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    margin-top: 30px;
}

.plan ul li .fa-check{
    color: #FD152A;
    font-size: 22px;
    font-weight: 500;
    padding: 0 5px 0 0;
}

.snip1255 .plan-select a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    /* width: fit-content; */
    font-size: 0.75em;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}

/* .snip1255 .featured {
    margin-top: -10px;
    background-color: #262626;
    color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1;
} */
.plan-select:hover{
    background-color: #FFF0F0;
}
.snip1255 .plan:hover{
    margin-top: -10px;
    background-color: #FFDEDE;
    color: #000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.snip1255 .plan:hover header{
    background-color: #FFDEDE;
}

.snip1255 .plan:hover .plan-select{
    background-color: #FFF0F0;
}
.snip1255 .plan:hover .plan-select a{
    color: #000;
}
.snip1255 .featured .plan-select a {
    padding: 15px;
}

.packages {
  margin: 20px;
  width: 300px;
  padding-bottom: 1.5em;
  height: 100%;
  background-color: #1e2321;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 19px 38px rgba(30, 35, 33, 1), 0 15px 12px rgba(30, 35, 33, 0.2);
  flex-wrap: wrap;
  color: #f4f4f4;
}

h1,
h2 {
  font-size: 2.2em;
  font-family: 'Montserrat';
}

.list li {
  font-size: 20px;
  list-style: none;
  border-bottom: 1px solid #f4f4f4;
  padding-inline-start: 0;
  border-width: 1px;
  padding: 10px;
}

.first {
  margin-top: 40px;
  border-top: 1px solid #f4f4f4;
}

.list {
  width: 80%;
}

ol,
ul {
  padding: 0;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
label {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}

.button {
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.4em;
  margin: 15px 15px;
  border-radius: 50px;
  color: #f4f4f4;
  transition: all 0.3s ease 0s;
}

.button:hover {
  transform: scale(1.2);
}

.button1 {
  background-color: #00cc99;
  box-shadow: 0 0 10px 0 #00cc99 inset, 0 0 20px 2px #00cc99;
}

.button2 {
  background-color: #ff007c;
  box-shadow: 0 0 10px 0 #ff007c inset, 0 0 20px 2px #ff007c;
}

.button3 {
  background-color: #ffae42;
  box-shadow: 0 0 10px 0 #ffae42 inset, 0 0 20px 2px #ffae42;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
      position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fd152a;
    -webkit-transition: 0.4s;
    box-shadow: 2px 6px 25px #1e23210f;
    transform: translate(0px, 0px);
    transition: 0.6s ease transform, 0.6s box-shadow;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color:#973738;
}

input:focus + .slider {
  box-shadow: 0 0 1px #973738;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.package-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.free-plan-text{
    margin-top: 90px !important;
}


/*@media only screen and (max-width: 767px) {
    .snip1255 .plan {
        width: 50%;
    }

    .snip1255 .plan-title,
    .snip1255 .plan-select a {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    .snip1255 .plan-select a,
    .snip1255 .featured .plan-select a {
        padding: 20px;
    }

    .snip1255 .featured {
        margin-top: 0;
    }
}

@media only screen and (max-width: 440px) {
    .snip1255 .plan {
        width: 100%;
    }
}*/

@media screen and (max-width: 1440px){


}



@media screen and (max-width: 1200px){

}
@media screen and (max-width: 1024px){
   .snip1255 .plan{
       height: 1035px !important;
   }
}




@media  screen and (max-width: 992px){
    .snip1255 .plan{
        height: 1219px !important;
    }

}



@media  screen and (max-width: 768px){
    /*.snip1255 .plan{*/
    /*    height: auto !important;*/
    /*width: 100% !important;*/
    /*padding: 50px 0;*/
    /* } */
      .free-plan-text {
         margin-top: 65px;
     }
     .snip1255 .plan {
         height: 1190px !important;
      }
      .banner-section-heading h1{
        font-size: 45px !important;
     }
}
@media screen and (max-width: 550px){
    
     .banner-section-heading h1{
        font-size: 45px !important;
     }

     .price_list .heading h1{
       font-size: 35px !important;
     }
     .price_list .heading p{
        font-size: 18px !important;
     }
     .free-plan-text {
        margin-top: 50px !important;
     }
     
     .snip1255 .plan{
        height: auto !important;
        width: 100% !important;
        padding: 30px 0;
     }

}

@media  screen  and (max-width: 426px){
    .snip1255 .plan{
        height: auto !important;
    width: 100% !important;
    padding: 50px 0;
     }    
 
    /* .snip1255 .plan{
        margin: 0 40px;
        width: 77.33%;
    }*/
    .banner-section-heading h1{
        font-size: 45px !important;
     }
    .follow_section img {
          height: 70px !important;
    }
}
@media  screen and (max-width: 376px){
    /* 
    .snip1255 .plan{
        margin: 0 40px;
        width: 77.33%;
    }*/

    .snip1255 .plan{
        height: auto !important;
    width: 100% !important;
    padding: 50px 0;
     } 
    .banner-section-heading h1{
        font-size: 45px !important;
     }
    .follow_section img {
          height: 70px !important;
    }


}
@media screen and (max-width: 320px){
    .snip1255 .plan{
        height: auto !important;
    width: 100% !important;
    padding: 50px 0;
     } 
    .banner-section-heading h1{
        font-size: 45px !important;
     }
    .follow_section img {
         height: 69px !important;
    }
    .banner-section-heading h1 {
        font-size: 35px !important;
    }
 } 