@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');


.pricing-table-head{
   margin-top: 20px;
}

.pricing-table-head h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.pricing-table-head p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


.pricing-table-head h6{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #ee182b;
    font-family: 'Montserrat', sans-serif;
}

.pricingTable{
    color: #555;
    background-color: #fff;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    margin-bottom: 30px;
    height: 558px;
}
.pricingTable .pricingTable-header{
    color: #fff;
    /*background: linear-gradient(to top right,#854BCC,#4C9FD0);*/
    padding: 25px 20px 80px;
    margin: 0 0 10px;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    background: rgb(255,156,164);
    background: linear-gradient(90deg, rgba(255,156,164,1) 0%, rgba(253,66,81,1) 0%, rgba(237,64,76,0.6784838935574229) 71%);
}
.pricingTable .title{
    color: rgba(255,255,255,0.8);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 15px;
}
.pricingTable .price-value .amount{
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
    display: block;
}
.pricingTable .price-value .duration{
    font-size: 19px;
    font-weight: 200;
    letter-spacing: 0.5px;
    display: block;
}
.pricingTable .pricing-content{
    padding: 0;
    margin: 0 0 35px;
    list-style: none;
    display: inline-block;
}
.pricingTable .pricing-content li{
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    line-height: 35px;
    padding: 5px 0 0;
}
.pricingTable .pricing-content li:after{
    content: '';
    /*background: linear-gradient(to top right,#854BCC,#4C9FD0);*/
    height: 2px;
    width: 100%;
    margin: 5px 0 0;
    clear: both;
    display: block;
    background-color: #ee182b;
}
.pricingTable .pricing-content li:last-child:after{ display: none; }
.pricingTable .pricingTable-signup{
    /*background: linear-gradient(to top right,#854BCC,#4C9FD0);*/
    padding: 10px 10px 9px;
    background: rgb(255,156,164);
    background: linear-gradient(90deg, rgba(255,156,164,1) 0%, rgba(253,66,81,1) 0%, rgba(237,64,76,0.6784838935574229) 71%);
}
.pricingTable .pricingTable-signup a{
    color: rgba(255,255,255,0.8);
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-decoration: none;
}
.pricingTable .pricingTable-signup a:hover{
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}
.pricingTable.pink .pricingTable-header,
.pricingTable.pink .pricing-content li:after,
.pricingTable.pink .pricingTable-signup{
    background: linear-gradient(to top right,#E244D4,#F57875);
}
.pricingTable.green .pricingTable-header,
.pricingTable.green .pricing-content li:after,
.pricingTable.green .pricingTable-signup{
    background: linear-gradient(to top right,#4EEABA,#36A3CC);
}


.pricingTable-signup-col-1{
     margin-top: 50px;
}

.pricingTable-header h3{
    font-family: 'Montserrat', sans-serif;
}


.price-value .amount{
    font-family: 'Montserrat', sans-serif;
}


.pricing-content li{
   font-family: 'Montserrat', sans-serif;
}


@media only screen and (max-width: 990px){
    .pricingTable{ margin: 0 0 40px; }
}