/*==================== 
  Footer 
====================== */

/* Main Footer */
footer
{
   
}
footer .main-footer{  
  padding: 20px 0;
   background: url("../image/background-image/mwp-hompage-footer-bg-banner.jpg") center center no-repeat;
     background-size: cover;
     padding:20px 0px 0px 0px;
     overflow: hidden;
}
footer ul{  padding-left: 0;  list-style: none;}

.footer-logo{
 width: 280px;
 margin-top: -10px;
 margin-left:-20px;
}


.site-logo{
  margin-left: 18px;
  margin-bottom: 10px;
}

.adress span , .contact span , .social span{
   color: #FFF; 
   font-weight: 800; 
   
   display: block;
  
   font-size: 20px;
 
  font-family: 'Montserrat';
}

.social li{
    float:left;
}

.adress , .contact , .social {
    list-style: none;
}

.social{
  margin-left: 7px;
  margin-top: -30px;
}

.social li a {
  background-color: #BA7072;
  padding: 9px;
  border-radius: 50%;
  width: 30px;
  display: inline-flex;
  height: 30px;
  margin-left: 5px;
  color: #fff;
}

.fa{
    color:#9c9c9c;
    margin-right: 15px;
    font-size:14px;
    font-family: 'Montserrat';
}


.footer-logo-para{
   text-align: justify;
    /* width: 460px; */
    padding: 0px 130px 0px 10px;
}
.site-map-col{
       margin-left: -30px;
}
.service-col{
   margin-left: -33px;
    padding: 1px;
}

.social span{
  margin-left: 7px;
  margin-bottom: 10px;
}
.thumbnail-widget li{
   padding-bottom: 5px;
}


.contact li{
   margin-bottom: 5px;
}



.widget-title{
   font-family: 'Montserrat';
   font-size: 16px;
}

.thumbnail-widget li a{
   font-family: 'Montserrat';
   font-size:14px;
}

.contact li a{
   font-family:'Montserrat';
   font-size:14px;
}


.privacy-policy-li ul{
    display: inline-flex;
    text-align: right;
    margin-left: 33%;
    margin-top: -22px;
}  

.privacy-policy-li ul li a{
   color: #fff;
   font-family: 'Montserrat';
   margin-left: 10px;
   text-decoration: none;
   font-size:14px;
}
.footer-hr{
  border-top: 2px solid #fff;
  margin-top: -20px;
}
/* Copy Right Footer */
.footer-copyright {padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {  list-style: none; margin: 0;  padding: 0;}
.footer-copyright nav ul li { border-left: 1px solid #505050; display: inline-block;  line-height: 12px;  margin: 0;  padding: 0 8px;}
.footer-copyright nav ul li a{  color: #969696;}
.footer-copyright nav ul li:first-child { border: medium none;  padding-left: 0;}
.footer-copyright p { color: #969696; margin: 2px 0 0;text-align: left;}

/* Footer Top */
.footer-top{  background: #252525;  padding-bottom: 30px; margin-bottom: 30px;  border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{  background: transparent;}
footer.transparent .footer-copyright{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{ background: #f9f9f9;}
footer.light .main-footer{  background: #f9f9f9;}
footer.light .footer-copyright{ background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
  Widgets 
====================== */
.widget{  padding: 20px;  margin-bottom: 40px;}
.widget.widget-last{  margin-bottom: 0px;}
.widget.no-box{ padding: 0; background-color: transparent;  margin-bottom: 40px;
  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
/*.widget.subscribe p{  margin-bottom: 18px; margin-top: 25px;}*/
.widget li a{ color: #fff;}
.widget li a:hover{ color: #ff9ca4;text-decoration: none;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #fff; none repeat scroll 0 0;display: block; height: 1px;margin-top: 10px;position: relative;width: 20%;}
.widget-title span::after {background: #fff;content: "";height: inherit;    position: absolute;top: -6px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {background: #fff;margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{ float: right; background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{  color: #fff;}

ul.social-footer2 { margin: 0;padding: 0; width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#ff8d1e;}
ul.social-footer2 li a {display: block; height:30px;width: 30px;text-align: center;}
.btn{background-color: #ff8d1e; color:#fff;}
/*.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}*/

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
   /* background-color: #3e3e3e;*/
    color: #fff;
    padding: 9px;
    border-radius: 5px;
}
.home-page-star{
       padding: 0px !important;
}

/*#subscribe-box .emailfield {
    margin: auto;
}

input[type="text"] {
    background: rgba(255,255,255,0.075);
    padding: 10px 15px;
    color: #aaa;
    border: 3px solid rgba(0,0,0,0.1);
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 5px;
    transition: all 0.2s cubic-bezier(0.4,0,0.2,1);
    transition-delay: 0.2s;
    text-align: center;
    width: 100%;
}

input.submitbutton.ripplelink {
    background: #e67e22;
    border: 3px solid rgba(0,0,0,0.1);
    color: #fff;
    border-color: #e67e22;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
    transition-delay: 0s;
    width: 100%;
    font-size: 14px;
     font-weight: 700; 
    border: 0px solid;
    transition: all 0.2s cubic-bezier(0.4,0,0.2,1);
    padding: 10px 15px;
    margin-bottom: 16px;
    border-radius: 5px;
}*/

.thumb-content ::before {
    content: "\f190";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
    color: #ffffff;
}


/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoRss:hover {
  background-color: #F56505;
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
  background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
  background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 25px auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
      background-color: #BA7072!important;
}

.social-circle li i {
  margin: 0;
  line-height: 25px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
.privacy-policy-li
.btn:focus{
    outline: none!important;
    /* -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); */
    /* box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);*/
}

.privacy-policy-li {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Adjust as needed */
  align-items: center; /* Align items vertically in the center */
}

.privacy-policy-li p,
.privacy-policy-li ul {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
    .footer-logo-para {
     padding: 0; 
}
    .site-map-col, .service-col {
     margin-left: 0; 
}
.privacy-policy-li{
    display:block;
}
}
@media only screen and (max-width:768px){
.privacy-policy-li ul {
    display: block;
    text-align: left;
    margin-left: 0;
    margin-top: 11px;
}
.privacy-policy-li {
  display: block;
}

.footer-logo-para {
    padding:0;
}
.site-map-col, .service-col{
    margin:0;
}
}
@media only screen and (max-width:600px){
    .privacy-policy-li ul {
    display: block;
    text-align: left;
    margin-left: 0;
    margin-top: 11px;
}
.privacy-policy-li {
  display: block;
}
}
@media only screen and (max-width:480px){
  .privacy-policy-li ul {
    display: block;
    text-align: left;
    margin-left: -216px;
    margin-bottom: 10px;
     margin-top: 0; 
}
.privacy-policy-li {
  display: block;
}
.privacy-policy-li{
    flex-direction: column-reverse;
    display: flex;
    text-align: left;
    justify-content: stretch;
    margin: auto;
}
}
@media only screen and (min-width: 361px) and (max-width: 420px) {
.privacy-policy-li ul {
    margin-left: -125px;
}
}
@media only screen and (max-width:360px){
  .privacy-policy-li ul {
    display: block;
    text-align: left;
    margin-left: 0;
    margin-top: 11px;
}
.privacy-policy-li {
  display: block;
}
.privacy-policy-li p, .footer-logo-para{
    margin-left: 0px !important;
}
}




