.popup_model_dialog {
    max-width: 1100px;
    height: 665px;
 }

 .form_close_btn {
    color: #FC3465;
    background: transparent;
    border: none;
    font-size: 30px;
    padding: 0px 20px 0 0;
    justify-content: end;
    display: flex;
    font-weight: 600;
 }

 .small_logo {
    height: 100px;
    width: 100px;
 }

 .left_form {
    padding: 30px 0 0 115px;
 }

 .left_form .heading {
    display: flex;
 }

 .left_form .heading h3 {
    padding: 15px 0 0 15px;
 }

 .text_border {
    font-weight: 900;
    color: #fff;
    text-shadow: -1px 1px 0 #AA4D4F, 1px 1px 0 #AA4D4F, 1px -1px 0 #AA4D4F, -1px -1px 0 #AA4D4F;
    letter-spacing: 3px;
 }

 #multiStepForm p {
    font-size: 15px;
    margin: 15px 0 5px 0;
    font-weight: 600;
 }

 .form-control {
    margin: 10px 0;
 }

 .radio_sec {
    display: flex;
 }

 .form-check {
    color: #AA4D4F;
    padding: 6px 20px;
 }

 .form-check-input {
    margin-left: 0;
 }

 .form-check-label {
    padding: 0 0 0 20px;
 }

 .next_btn {
    text-align: center;
    margin: 15px 0 0 12px;
    color: #fff;
    background: #FD4251;
    border: none;
    padding: 10px 100px;
    font-size: 18px;
 }

 .next_btn:hover {
    color: FD4251;
    background-color: #fff;
    border: 1px solid #FD4251;
 }

 .form_Social {
    padding: 30px 12px;
 }

 .form_Social p span a {
    color: #FD4251;
 }

 .form_Social p span a:hover {
    text-decoration: none;
    color: #FD4251;
 }

 .login_option img {
    height: 50px;
    padding: 5px 12px;
 }

 .third_form {
    padding: 30px 90px 35px 90px;
 }

 .fouth_form .heading{
    align-items: center;
  display: flex;
  padding: 0 0 0 15px;
 }
 .finish_div{
    text-align: center;
 }
 .finish_div h2{
    font-size: 3rem;
    font-weight: 900;
    text-shadow: -1px 1px 0 #AA4D4F, 1px 1px 0 #AA4D4F, 1px -1px 0 #AA4D4F, -1px -1px 0 #AA4D4F;
    letter-spacing: 5px;
    color: #fff;
 }
 .form_para h3{
    font-size: 22px;
  font-weight: 500;
  color: #AA4D4F;
  padding: 16px 0px;
 }
 .large_logo{
    height: 260px;
    width: 260px;
 }
 .form_last_btn button{
    background: #FD4251;
    color: #fff;
    border: none;
    padding: 11px 40px;
    font-size: 19px;
    margin: 12px 0;
 }

 .form_last_btn button:hover{
    color: #FD4251;
    border: 1px solid #FD4251;
    background: #fff;
 }
 .fifth_form{
    position: relative;
    padding: 30px 170px;
 }
 .fifth_form hr{
    border-top: 4px solid rgba(0, 0, 0, 0.1);
 }
 .top_left_flower{
    position: absolute;
    left: 0px;
    top: -45px;
    width: 35%;
    transform: rotate(180deg);
 }

 .bottom_right_flower{
    position: absolute;
    right: 0px;
    bottom: -16px;
    width: 35%;
    /* transform: rotate(180deg); */
 }

 .fifth_form .login_option img{
    height: 60px;
 }

 .fifth_form.form_Social{
    margin-top: 50px;
 }
 .login-mob{
   display: none;
  }
  
  .next-3{
          padding: 10px 25px !important;
  }
  
  .login-form-btn{
      padding: 10px 40px!important;
  }
  
.loginoption-li{
    display: inline-flex!important;
    padding: 0px 0 0 0px!important; /*By aishwarya on 25-01-2024 */
}

/*Aishwarya on 25-01-2024*/
.loginoption-li a{
    /*margin-top: 4px;*/
    margin-left: 0px ;
    color: #ff132b;
}

.login-form-title{
    font-weight:600;
    background-color: #dee2e6;
}

.loginoption-li .nav-link{
        padding: 0rem 1rem !important;
}

.loginsubmit{
    background-color: #ff142a;
}

/*Aishwarya on 25-01-2024 end*/
/* aishwarya */
@media only screen and (max-width:480px) {
   .left_form {
      padding: 0px;
  }
  .login-desk{
   display: none;
  }
  .login-mob{
   display: block;
   text-align: center;
  }
  .login-mob .img-fluid {
   max-width: 50%;
  }
  .next_btn {
   text-align: center;
   margin: 15px 0 0 12px;
   color: #fff;
   background: #FD4251;
   border: none;
   padding: 4px 13px;
   font-size: 16px;
}

.create_account {  
   padding: 10px 100px !important;
   font-size: 18px  !important;
}
.third_form {
   padding: 0px 0px 20px;
}
.third_form {
   padding: 0px 0px 20px;
}
 }
 
 
 

 @media only screen and (max-width:360px) {
   .left_form {
      padding: 0px;
   }
   .login-desk{
      display: none;
     }
     .login-mob{
      display: block;
      text-align: center;
     }

     .login-mob .img-fluid {
      max-width: 50%;
     }
     .next_btn {
      text-align: center;
      margin: 15px 0 0 12px;
      color: #fff;
      background: #FD4251;
      border: none;
      padding: 4px 13px;
      font-size: 16px;
  }
  .create_account {  
   padding: 10px 100px !important;
   font-size: 18px  !important;
   margin :auto;
}
.third_form {
   padding: 0px 0px 20px;
}
.third_form {
   padding: 0px 0px 20px;
}
 }