@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
.similar_pic {
  margin-top: -20px;
}


.similar_pic .similar-heading{
  font-size:30px!important;
  padding-bottom: 20px;
  
  font-family: 'Montserrat', sans-serif;
}


.view_more_btn{
    border-radius: 5px!important;
}


.gallery-detail-overlay{
   top: 55px!important;
}