/* vendor reccomdation section*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.vendor-reccomdation-section{
   margin: 0 auto;
   padding-top: 50px;
}

/*.vl {
  
}*/

.vendor-reccomdation-col-1{
	margin-top: 30px;
}

.vendor-reccomdation-col-2{
  position: relative;
  margin-top: 30px;
}

.vendor-caption-1{
   text-align: right;
   
}
 .vendor-reccomendation-heading{
     font-size: 75px!important;
 }

 .vendor-reccomdation-col-2:before{
    content: '';
    width: 0px;
    height: 200px;
    position: absolute;
   /* z-index: 100000;*/
    left: -17px;
    top: -30px;
    border: 3px solid #840415;
}
/*.vendor-reccomdation-col-1::after {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  border: 1px solid black;
  top: 0;
  left: 100px;
}*/
.vendor-caption-1 h6{
	color: #0D0D0D;
	font-size: 20px;
	font-family: 'Montserrat';
}

.vendor-caption-1 h2{
	color: #FD152A;
	font-size: 61px;
	font-family: 'Montserrat';
}
.vendor-caption-1 h4{
	color: #FD4251;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.vendor-caption-2{
  text-align: left;
}


.vendor-caption-2 p{
	font-size: 16px;
	font-family: 'Montserrat';
}

.vendor-caption-2 h4{
	font-size: 25px;
    color: #FD152A;
    font-family: 'Montserrat';
    margin-top:33px;
}


/*Vision mision section*/

.vision-mision-section{
	margin: 0 auto;
	padding-top: 55px;
}


.vision-caption{
   text-align: center;
   margin-bottom: 30px;
}

.vision-caption h2{
	font-size: 34px;
	font-family: 'Montserrat';
	margin-bottom: 50px; 
}

.vision-mision-content{
  text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    padding: 30px 10px 20px 10px;
    border-radius: 0 0 20px 20px;
    height: 324px;
}

.vision-mision-img img{
   width: 40px !important;
   display: inline-block !important;
}

.vision-mision-heading h6{
   font-size: 18px;
   font-weight: 800;
   margin-top: 10px;
   font-family: 'Montserrat';
}

.vision-mision-para p{
   font-size: 16px;
   font-family: 'Montserrat';
}

.vision-mision-content:before{
    content: '';
    width: 32px;
    height: 50px;
    position: absolute;
    left: 40px;
    top: -23px;
    border: 3px solid #FD152A;
    background-color: #FD152A;
    opacity: 0.8;
}


.vision-mision-content:after{
    content: '';
    width: 32px;
    height: 50px;
    position: absolute;
    left: 80%;
    top: -23px;
    border: 3px solid #FD152A;
    background-color: #FD152A;
    opacity: 0.8;
}


.semi-circle {
    width: 6rem;
    height: 3rem;
    background-color: #FD152A;
    border-radius: 10rem 10rem 0 0;
    margin-left: 60px;
    margin-top:21px;

}

.semi-circle h6{
	font-size: 25px;
    color: #fff;
    font-weight: 700;
    padding-top: 10px;
}


/*Price plan section*/
.service-3-price-plan{
	margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.service-3-plan-heading{
   text-align: center;
}
.service-3-plan-heading h2{
   font-size: 34px;
   margin-bottom: 25px;
   font-family: 'Montserrat';
}


.vendor-service-plan {
    column-gap: 13px;
    flex: 1 0 75%;
    max-width: 95%;
}

.service-3-heading-h6{
   display: inline-flex;
   margin-top: -8px
   
}

.price-line{
  border-top: 1.5px solid #8a8895;
    margin-top: -312px;
    width: 518%;
    z-index: 2;
    position: relative;
}

.price-detail-font{
   font-size: 20px;
}

.service-3-content{
  background-color: #ff444f;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
 
}

.para-clumn-2{
   margin-top:10px;   
}
.service-3btn-1{
   margin-top: 20px;
}
.vendor-price-plan-content h3{
    font-size: 34px;
   
   font-family: 'Montserrat';
   font-weight: 700;
   color: #ff444f;
   margin-top: 50px;
   margin-left: 35px;
}

.service-check-box{
  display: inline-flex;
}

.service-check-box label{
   color: #fff;
    font-family: 'Montserrat';
    margin-top: 12px;
}


.service-3-heading-h5 h5{
   color: #fff;
   font-size: 20px;
   font-family: 'Montserrat';
   font-weight: 400;
}
 
.service-3-heading-h4 h4{
  color: #fff;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 700;
}

.currency-symbol{
    color: #fff;
    font-weight: 700;
    font-size: 35px;
}

.service-3-heading-h6 h6{
    font-size: 40px;
    color: #ffff;
    margin-top: 0px;
    padding-left: 6px;
    font-weight: 800;
}

.each-class{
  font-size: 20px;
  color: #fff;
  margin-top: 24px;
}

.service-para-content p{
   color: #fff;
   font-size: 16px!important;
   text-align: center;
  /* margin-left: 30px;*/
  margin-bottom: 30px;
}

.pricing-feature-call{
   margin-left: -110px;
}

.vendor-price-plan-content{
   margin-left: 35px;
  

}
.service-3-heading-h4-sub{
   margin-top: 18px;
}

.vendor-price-plan-list ul{
   list-style-type: none;
   margin-top: 75px;
}


.vendor-price-plan-list ul li{
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: 500;
   margin-bottom: 10px;
   padding-top:4px;
}
.service-3-plan-btn{
   text-align: center;
   /*margin-left: 35px;*/
   /* margin-right: 30px; */
   /*padding-right: inherit;*/
}


.service-3-plan-btn a{
    color: #000;
    font-size: 16px;
    background-color: #fff;
    width: 135px;
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    border-radius: 25px;
    margin: auto;
}

.service-3-plan-btn a:hover{
    color: #ee182b!important;
    background-color: #fff; 
}
.para-before{
	position: relative;
}
/*.para-before:before{
  content:url('../image/service-3/check.png'); 
  position: absolute;
  left: -20%;
  top: 7px;
}
*/

.para-after{
	position: relative;
}

/*.para-after:after{
  content:url('../image/service-3/check.png'); 
  position: absolute;
  left: -20%;
  top: 7px;	
}*/

.col-half-offset{
    margin-left:4.166666667%
}

/*   Perfect match section*/
.perfect-match-section{
   margin: 0 auto;
   padding-top: 50px;
   background: url("../image/background-image/MWP-bg-Banner.jpg") center center no-repeat;
   background-size: cover;
   height: 330px;
}

.perfect-match-img{
    margin-left: 85px;
}
.perfect-match-img img{
   height: 210px;

}

.perfect-match-content{
    margin-left: -165px;
    margin-top: 30px;
}

.perfect-match-content p{
    color: #fff;
    font-size: 16px;  
}

.perfect-match-content h4{
   color: #fff;
   font-size: 28px;
   font-family: 'Montserrat';
   font-weight: 400;	
}

.perfect-match-content h3{
  color: #fff;
  font-size: 35px;
  font-family: 'Montserrat';
  font-weight: 600;
}

.perfect-match-btn{
    margin-left: -160px;
    margin-top: 25px;
}

.perfect-match-btn a{
    background-color: #fff;
    color: #000;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;	
    font-family: 'Montserrat';
    border-radius: 5px;
    text-decoration:none;
}
.perfect-match-btn a:hover{
    color: #ee182b!important;
    background-color: #fff;
}

.perfect-match{
  margin-left:-140px;   
}

/*Reach out section*/

.reach-out-section{
  margin: 0 auto;
  padding-top: 50px;
}


.question-mark-image img{
  width: 1500px;
  margin-left: -80px;
}

.reach-out-content{
    margin-left: -90px;
}

.reach-out-content h6{
   font-size: 18px;
   letter-spacing: 5px;
}

.reach-out-content h5{
  font-size: 25px;
  font-family: 'Montserrat';
  font-weight: 600;
}

.reach-out-content h4{
	font-size: 22px;
	font-family: 'Montserrat';
}

.reach-out-content h2{
  font-size: 34px;
  font-family: 'Montserrat';
  color:#FA152A;
  font-weight: 800;
  margin-top: 20px;
}

.reach-out-btn{
   margin-left: -88px;
   margin-top:20px; 
}

.reach-out-btn a{
    background-color: #EF243C;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

.contact_btn:hover{
   background-color: white;
   color: #FD152A;
   border: solid red 1px;
   transition: all 0.3s ease;
}
    
.reach-out-content :after{
  content:url('../image/service-3/multiple-question.png'); /* with class ModalCarrot ??*/
  position: absolute;
  left: 50%;
  top: 2px;
}


.social-service-3{
   margin-top:30px; 
}


.service-3-plan-btn button{
    color: #000;
    font-size: 16px;
    background-color: #fff;
    width: 135px;
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    border-radius: 25px;
    margin-left: 40px;
    border:none;
}