@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
.service_banner{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    width: 100%;
}
.overlay1{
    position: absolute;
    background-color: #fff;
    height: 30vh;
    width: 100%;
    opacity: 0.5;
}
.banner-section-heading{
   text-align: center; 
}

.banner-section-heading h1{
    padding-top: 145px;
    color: #ffffff8c;
    font-size: 80px;
    font-weight: 800;
    font-family: 'Montserrat';
    text-transform: uppercase;
    margin-top: -19%;
}
.common_Section{
    padding: 50px 0;
}

.choose_sec{
    position: relative;
    /* height: 69vh; */
}

.choose_sec::before{
    content: "";
    background-image: url('../image/service/TrioColor.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -142%;
    left: 14%;
    width: 100%;
    height: 162vh;
    z-index: -1;
}

.yjhd-image{
       height: 220px!important; 
}
.choose_bg{
    width: 100%;
    height: 100vh;
    background: url(../image/service/bg1.svg) top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.why_chooose h1{
    font-size: 50px;
    letter-spacing: 2px;
}
.why_chooose .why_h1{
    position: relative;
}

/* .why_chooose .why_h1::before{
    content: '-';
    position: absolute;
    top: -29px;
    height: 1px;
    color: #F5001E;
    width: 60px;
    text-align: start;
} */
.why_chooose .desig{
    color: #F5273F;
     font-family: 'Montserrat';
}

.why_chooose .wed{
    font-weight: 1000;
    color: #F5001E;
   font-family: 'Montserrat';
}
.why_chooose p{
    padding-top: 20px;
}
.card{
    border-radius: 25px;
    border: 1px solid #E6499D;
}

.sec_card{
    margin-top: 50px;
}

.card:hover{
    border: none;
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.2);
}
.card-header{
    padding: 0 1px;
    border-bottom: none;
}

.card-body h2{
    font-size: 28px;
    color: #F5001E;
    margin-top: 23px;
     font-family: 'Montserrat';
}


.dream_sec{
    width: 100%;
    height: 80vh;
    background: url(../image/service/dream_bg.svg) top center no-repeat;
    background-size: cover;
    position: relative;
}
.overlay{
    position: absolute;
    background-color: #fff;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}
.head_underline{
    margin-top: -25px;
}
.heading{
    position: relative;
}
.heading h1{
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
    /* z-index: 1; */
     font-family: 'Montserrat';
}

.heading h1 span{
    color: #F5001E;
     font-family: 'Montserrat';
}
.heading h2 span{
    color: #F5001E;
     font-family: 'Montserrat';
}

.plan_content p span{
    color: #F5001E;
     font-family: 'Montserrat';
}

.heading .desig{
    color: #F5001E;
    font-weight: 900;
    font-size: 50px;
     font-family: 'Montserrat';
}

.dream_content h6{
    color: #F5001E;
    font-weight: 900;
    font-size: 24px;
    padding-top: 10px;
     font-family: 'Montserrat';
}

.dream_timetable{
    padding-top: 70px;
}


.content1{
    position: relative;
}

.dream_row{
    margin-left: -48px;
}

.content1::after {
    content: "";
    background-image: url('../image/service/Component10–1.png'); 
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -85px;
    right: -70px;
    width: 88%;
    height: 345px;

}
.content4::after {
    content: "";
    background-image: url('../image/service/content4.svg'); 
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -85px;
    right: -70px;
    width: 73%;
    height: 345px; 

}
.content1{
    padding: 0 27px 0 0;
    font-size: 15px;
}
.content1 p{
    margin: 0;
}


.jawaani_bg{
    height: 320px;
    background: url(../image/service/Component19–1.png) top center no-repeat;
    background-size: cover;
    position: relative;
    padding: 0 20px;
}



.jawaan_row{
    align-items: center;
    height: 100%;
}

.jaawani_content p{
    font-size: 18px;
    color: #fff;
    letter-spacing: 1;
     font-family: 'Montserrat';
     text-align:justify;
}
.jaawani_content p span{
    font-weight: 700;
    position: relative;
    z-index: 1;
     font-family: 'Montserrat';
}

.jaawani_content p span::after{
    position: absolute;
    content: '';
    background: #F5001E;
    width: 100%;
    height: 50%;
    bottom: 0;
    /* z-index: -1; */
    left: 0;
    right: 0;
    z-index: -1;
}
.jaawan_contact h6{
    font-size: 24px;
    color: #fff;
    padding: 12px 0 0 0;
    font-weight: 600;
    margin: 0;
     font-family: 'Montserrat';
}
.jaawan_btn{
    
    padding-top: 22px;
}
.exp_btn {
    background: #f5001e;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat';
    width: 245px;
    height: 45px;
}

.exp_btn:hover{
/*background: transparent;*/
/*color: #fff!important;*/
/*border: 2px solid #fff;*/
color: #ee182b!important;
border: 1px solid #ee182b;
background-color: #fff;
}
.exp_btn:hover .right_arrow{
    color: #ee182b; 
}
.right_arrow{
    margin-left: 177px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    margin-top: -29px;
}
.jawaan_couple{
    position: absolute;
    /* top: 0; */
    right: 0;
    bottom: -9%;
}

.jawaan_couple img{
    height: 181px;
}

.reach_content h2{
   font-family: 'Montserrat'; 
}
#reach_img-1{
   margin-top: 52px;   
}
/* explore */
.exp_heading{
    visibility: visible;-webkit-animation-duration: 2s; -moz-animation-duration: 2s; animation-duration: 2s;
     font-family: 'Montserrat';
}
.exp_heading span{
    color: #F5001E;
    font-weight: 900;
     font-family: 'Montserrat';
}


.home-logo-slider{
    margin-top: -15px;
  }
  
   .hr-cities{
      height: 2px;
      border: none;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      width: 1200px;
  }
  
  
  .happening-city-heading h2{
    font-family: 'Montserrat';
    font-size: 34px;
    font-weight: 700;
  
  }
  
  .slick-slide {
      margin: 0px 20px;
  }
  
  .slick-slide img {
      width: 100%;
  }
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
     /* height: 100%;*/
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }
  
  .slick-dots {
      bottom: -45px;
      width: 100%;
      list-style: none;
      text-align: center;
  }
  
  .slick-dots li {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
  }
  .slick-dots li button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: black;
      border: 0;
      outline: 0;
      background: 0 0;
  
  }
  .slick-dots, .slick-next, .slick-prev {
      position: absolute;
      display: block;
      padding: 0;
  }
  .slick-dots li.slick-active button:before {
      opacity: .75;
      color: #FF142A;
       font-family: 'Montserrat';
  }
  
  
  .slick-dots li button:before {
      font-size: 25px;
      line-height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      content: '•'!important;
      text-align: center;
      opacity: .25;
      color: #000;
  }
  
  .city-text{
      text-align: center;
      margin-top: -5px;
      color: #FF142A;
      font-weight: 700;
      font-family: 'Montserrat';
  }

  .heading p{
    margin: 0;
  }
  .elevate_card_div{
    padding: 60px 0;
  }
.elevate_card{
    border: none;
    box-shadow: 12px 12px 17px 0px rgba(0,0,0,0.5);
    padding-top:15px;
}
.elevate_card h4{
    color: #FD2E41;
    font-weight: 500;
    font-family: 'Montserrat';
}  
.elevate_card p{
    margin-top: 20px;
    font-size: 14px;
    font-family: 'Montserrat';
}
.elevate_body{
    padding-top: 50px;
    margin-top: -45px;
}
.elevate_footer{
        padding: 0;
        background-color: transparent;
        border-top: none;   
}

.elevate_bg{
    position: relative;
}

.btn-elevate{
    position: absolute;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    right: 0;
    left: 0;
    z-index: 1;
    width: 40%;
    margin: 40px auto 0 auto;
    border-radius: 25px;
    font-family: 'Montserrat';
}

.btn-elevate:hover{
    color:#fff;
    background-color:#F5001E;
}

.awaits_sec .heading h2{
    font-weight: 900;
    font-size: 50px;
    color: #fff;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px #C5212C;
    text-shadow: 7px 3px 0 #C5212C, 5px 1px 0 #C5212C, 0px 2px 0 #C5212C, 8px 2px 0 #C5212C;
    position: relative;
     font-family: 'Montserrat';
}

.awaits_sec .heading h2::after{
    content: "";
    background-image: url('../image/service/right_arrow.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 14%;
    width: 180px;
    height: 50px;
}
.awaits_sec .heading p{
    font-size: 40px;
    font-family: 'Montserrat';
}
.awaits_sec .heading h2::before{
    content: "";
    background-image: url('../image/service/left_arrow.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 14%;
    width: 180px;
    height: 50px;
}
.await_btn{
    padding-top: 35px;
    margin-left: -70px;
}
.await_jumbo{
    margin-top: 40px;
    background-image: url('../image/service/Group1484.png');
    background-size: cover;
    background-position: center;
    height: 320px;
    width: 100%;
    position: relative;
    padding: 0;
}

.await_row{
    align-items: center;
    height: 100%;
}

.mwp_logo{
    height: 245px;
}
.await_title{
    color: #000 !important;
     font-family: 'Montserrat';
}

.avait_data p{
    color: #fff;
     font-family: 'Montserrat';
     line-height: 25px;
}
.avait_data h4{
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 600;
}


.couple_div{
    height: 200px;
    border: 2px solid #C5212C;
    margin-top: 100px;
    border-radius: 15px;
    position: relative;
}
.package_btn{
    color:#F5001E!important;
}

.reach_img{
    /* position: absolute;
    bottom: 0px;
    top: 15%; */
    margin-top: 47px;
}

.reach_content{
    position: absolute;
    left: 0;
    right: 0;
    top: -53px;
    background: #fff;
}

.reach_content h2{
    font-weight: 600;
     font-family: 'Montserrat';
}
.reach_content h2 span{
    color: #F5001E;
     font-family: 'Montserrat';
}

.reach_btn{
    color: #fff;
    background: #F5001E;
    margin-top: 25px;
    padding: 8px 29px;
     font-family: 'Montserrat';
}

.reach_btn:hover{
    color: #F5001E;
    background: transparent;
    border: 1px solid #F5001E;
     font-family: 'Montserrat';
}

.crafting_bg{
    margin-top: 60px;
    background-image: url(../image/service/Group1486.png);
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 100%;
    position: relative;
    margin-bottom:40px;
}
.craft_row{
    height: 100%;
}
.craft_img{
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: -53px;
    margin-left: -33px;
    height: 450px;
}

.craft_col{
 margin-left: -80px;
    margin-top: 70px;
}

.craft_content h6{
    font-size: 22px;
    font-weight: 600;
     font-family: 'Montserrat';
}

.craft_content h2{
    font-weight: 600;
    color: #F5001E;
     font-family: 'Montserrat';
}

.craft_social_icon{
   margin-left: -400px;
    margin-top: 20px;
}
/* .hexagon {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    transform: rotate(90deg);
    margin: 50px; 
  }
  
  .hexagon::before,
  .hexagon::after {
    content: '';
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
  }
  
  .hexagon::before {
    top: -50px;
    border-bottom: 29px solid red;
  }
  
  .hexagon::after {
    bottom: -50px;
    border-top: 29px solid red;
  } */
  
  
  /* .timeline-content::before {
    content: '';
    position: absolute;
    width: 0;
    border-left: 86px solid transparent;
    border-right: 86px solid transparent;
    top: 56px;
    border-bottom: 59px solid red;
    transform: rotate(90deg);
    right: -115px;
    margin: auto;
  } */
  
.timeline {
    padding: 50px 0;
    position: relative;
}
.timeline-nodes {
        padding-bottom: 25px;
        position: relative;
    }
.timeline-nodes:nth-child(even) {
    flex-direction: row-reverse;
}
.timeline h3, .timeline p {
    padding: 5px 15px;
     font-family: 'Montserrat';
} 
.timeline h3{
    font-weight: bold;
    color: #F5001E;
     font-family: 'Montserrat';
}
.timeline p, .timeline time {
    color: #B2B2B2;
     font-family: 'Montserrat';
}
.timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    border-left: 2px dashed #B2B2B2;
    height: 100%;
    z-index: 1;
    transform: translateX(-50%);
}
.timeline-content {
    border: 1px solid #B2B2B2;
    position: relative;
    border-radius: 0 0 10px 10px;
    /* box-shadow: 0px 3px 25px 0px rgba(10, 55, 90, 0.2) */
}
.timeline-nodes:nth-child(odd) h3,
.timeline-nodes:nth-child(odd) p {
    text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-date {
    text-align: left;
}
 
.timeline-nodes:nth-child(even) .timeline-date {
    text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    /* top: 5%; */
    /* left: 100%; */
    width: 0;
    border-left: 86px solid transparent;
    border-right: 86px solid transparent;
    top: 56px;
    border-bottom: 59px solid red;
    transform: rotate(90deg);
    right: -115px;
    /* margin: auto; */
}
.timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 56px;
    right: 88%;
    width: 0;
    border-left: 86px solid transparent;
    border-right: 86px solid transparent;
    border-bottom: 59px solid red;
    transform: rotate(270deg);
}
.timeline-image {
    position: relative;
    z-index: 100;
}
.timeline-image::before {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px dashed #B2B2B2;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    z-index: 1;
    

}
.timeline-image img {
    position: relative;
    z-index: 100;
}
.avait_data{
    margin-left: -70px;
}
/*small device style*/

@media (max-width: 767px) {
    .timeline-nodes:nth-child(odd) h3,
    .timeline-nodes:nth-child(odd) p {
    text-align: left
}
.timeline-nodes:nth-child(even) {
    flex-direction: row;
}
    .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 4%;
    width: 0;
    border-left: 2px dashed #B2B2B2;
    height: 100%;
    z-index: 1;
    transform: translateX(-50%);
}
.timeline h3 {
    font-size: 1.7rem;
}
.timeline p {
    font-size: 14px;
}
.timeline-image {
    position: absolute;
    left: 0%;
    top: 60px;
    /*transform: translateX(-50%;);*/
}
.timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: auto;
    right: 100%;
    width: 0;
    border-left: 0;
    border-right: 10px solid #B2B2B2;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid #B2B2B2;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-date {
    text-align: left;
}
.timeline-image::before {
    width: 65px;
    height: 65px;
}
}

/*extra small device style */
@media (max-width: 575px) {
    .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 3%;
}
.timeline-image {
    position: absolute;
    left: -5%;
    }
.timeline-image::before {
    width: 60px;
    height: 60px;
}
}

.web_plan{
    padding-top: 30px;
}
.mwp_design{
    color: #C5212C;
    font-weight: lighter;
    position: relative;
}

.mwp_design::after{
    content: "";
    position: absolute;
    width: 9%;
    color: #000;
    left: 38%;
    top: 46%;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    height: 3px;
}

.mwp_dream{
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 3;
    color: #4D4D4D;;
}

.mwp_content h1{
    color: #F5001E;
    font-weight: 950;
    font-size: 48px;
}

.mwp_content2{
    padding-top: 20px;
}

.mwp_content2 h5{
    padding-bottom: 20px;
    font-weight: 700;
}

.mwp_content2 p{
    line-height: 2rem;
}
.mwp_img_div{
    position: relative;
}
.mwp_img_div::after{
    content: "";
    position: absolute;
    height: 580px;
    width: 65%;
    background-color: #FE7F89;
    top: -37px;
    right: -41px;
    z-index: -1;
    border-radius: 25px 0 0 25px;
}

.mwp_main_cont{
    position: relative;
}

.mwp_main_cont::before{
    content: "";
    position: absolute;
    height: 580px;
    width: 5%;
    left: -75px;
    top: -37px;
    background-color: #FE7F89;
    border-radius: 0 25px 25px 0;
}

.epic_row{
    margin-top: 60px;
    align-items: center;
}
.heading .heading_line{
    margin-top: -10px;
}

.epic_sec .heading p{
    padding: 20px 0;
}
.epic_sec .heading h3{
    color: #F5001E;
}
.epic_content .epic_name{
    font-size: 55px;
    font-weight: 300;
}
.epic_content .epic_plan_name{
    font: normal normal bold 60px/63px Poppins;
    letter-spacing: 3px;
}
.epic_points {
    list-style: none;
    margin: 30px 0;
  }
  
  .epic_points li::before {
    content: "\2022";
    color: red;
    font-weight: bolder;
    display: inline-block;
    width: 1em;
    font-size: 20px;
    margin-left: -1em;
  }

  .epic_amt_div{
    padding: 28px 0 0 0;
  }

  .epic_amt_div h1{
    font-size: 50px;
    font-weight: 600;
    color: #F5001E;
  }

  .epic_amt_div span{
color: #000;
  }
  .epic_amt_div small{
    color: #000;
    font-size: 18px;
    font-weight: 600;
  }

  .epic_amt_div .know_more{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    /*border: 1px solid #000;*/
    padding: 10px 30px;
    margin: 15px 0 0 0;
    background-color: #F5001E;
  }

  .epic_amt_div .know_more:hover{
   color: #F5001E;
    background-color: #fff;
    border: 1px solid #F5001E;
  }

  .epic_plans{
    height: 200px;
    display: flex;
    align-items: center;
    /* background: #FFD7DB; */
    border: 1px solid lightgray;
    cursor: pointer;
  }

  .epic_plans:hover {
    background: #FFD7DB;
  }
  .epic_plans:hover .epic_plans .basic_plan{
    background: #940C13;
  }
  .epic_plans .dark_clr{
    background: #940C13 !important;
  }
  .epic_plans .basic_plan{
    height: 100%;
    background: #FA152A;
    width:190px;
    padding: 30px 40px 30px 30px;
    position: relative;
    /* display: flex; */
  }

  .epic_plans .basic_plan .epic_common_amt{
    background: #fff;
    font: normal normal bold 27px/63px Poppins;
    padding: 10px 33px;
    border-radius: 15px;
    margin-top: 22px;
    display: flex;
  }
.epic_common_amt small{
    
    font-size: 15px;
    font-weight: 800;

}
.mwp_char{
    position: absolute;
    right: -16%;
    top: 31%;
    background: #fff;
    font: normal normal bold 29px/63px Poppins;
    border-radius: 50%;
    padding: 1px 16px;
}

.epic_plan_detail h4{
    padding-left: 75px;
    font-weight: 700;
}

.epic_plan_detail p{
    padding-left: 75px;
}

.start_sec{
    margin-top: 60px;
    background-image: url(../image/service/Group1484.png);
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 100%;
    position: relative;
}
.start_row{
    align-items: center;
    height: 100%;
    color: #fff;
}

.get_start{
    background: #fff;
    padding: 7px 30px;
    font-size: 18px;
    font-weight: 500;
    margin-top:15px;
    color:#F5001E;;
}
.get_start:hover{
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
}


.time_line6 .heading h2 span{
color: #F5001E;
font-weight: 900;
font: normal normal bold 34px/63px Poppins;
}

/*.time_row{
    padding: 70px 0;
}*/
.time_line6 .time1{
    display: flex;
    position: relative;
    background: #FF9DA3;
    border-radius: 50%;
    padding: 90px;
}

.time_line6 .time1::before{
    content: "";
    background-color: #FF9DA3;
    border: 2px solid #fff;
    border-radius: 50%;
    left: 13px;
    right: 0;
    top: 13px;
    bottom: 0px;
    position: absolute;
    /* z-index: 16; */
    height: 92%;
    width: 92%;
}

.time_line6 .time1::after{
    content: "";
    background-color: #fff;
    left: 47%;
    right: 0;
    top: 0;
    bottom: 0px;
    position: absolute;
    /* z-index: 16; */
    height: 100%;
    width: 53%;
}
.time_line6 .time2{
    background: #FE4251;
}
.time_line6 .time2::before{
    background-color: #FE4251;
}
.time_line6 .time3{
    background: #EE1229;
}
.time_line6 .time3::before{
    background-color: #EE1229;
}
.time_line6 .time1 .half_circle{
    z-index: 1;
    color: #fff;
    font-size: 38px;
    margin-left: -42px;
    font-weight: 600;
    line-height: 4.1rem;
    margin-top: 26px;
}
.time_line6 .time_cont{
    display: flex;
    z-index: 1;
    margin-left: 44px;
    justify-content: space-between;
    flex-direction: column;
}

.time_line6 .time_cont .time_icon{
    font-size: 75px;
    margin-top: -56px;
    padding-bottom: 18px;
}
.time_para{
    width: 173px;
}
.time_line6 .time_cont .time_para p{
    margin-bottom: -80px;
    font-size: 14px;
    line-height: 1rem;
}

.ribbon1 {
    width: 204px;
    height: 55px;
    line-height: 50px;
    padding-left: 15px;
    position: absolute;
    left: 43%;
    color: #000;
    text-wrap: nowrap;
    top: 40%;
    background: #FCD4D8;
    /*font: normal normal bold 14px/63px Poppins;*/
    
    /* font-size: 14px; */
    padding: 6px;
  }
  .ribbon2{
    background: #FF8392;
  }
   .ribbon3{
    background: #F5384A;
  }
  .ribbon1:before, .ribbon1:after {
    content: "";
    position: absolute;
  }
  .ribbon1:before {
    height: 0;
    width: 0;
    top: -7.5px;
    left: 0.1px;
    border-bottom: 9px solid #fff;
    border-left: 9px solid transparent;
  }
  .ribbon1:after {
    height: 0;
    width: 0;
    right: -15.5px;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    border-left: 15px solid #FCD4D8;
  }
  .ribbon2:after{
    border-left: 15px solid #FF8392;
  }
   .ribbon3:after{
    border-left: 15px solid #F5384A;
  }
  
  .web_plan h1{
      font-family: 'Montserrat';
  }
  
  .web_plan h2{
      font-family: 'Montserrat';
  }
  .plan_content p{
      font-family: 'Montserrat';
  }
  
  .timeline_sec h2{
     font-family: 'Montserrat';   
  }
  .elevate_sec h2{
     font-family: 'Montserrat';      
  }
  .awaits_sec{
      margin-top: -45px;
  }
  
  .why_chooose_btn{
      margin-top:25px;
  }
  .why_chooose_btn a{
    background-color: #F5001E;
    color: #fff!important;
    padding: 10px;
    border-radius: 4px;
}

.yjhd-col{
    margin-left: -90px;
}
  
.yjhd_btn{
    background: #f5001e;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat';
    width: 260px;
    height: 45px; 
 }
 .yjhd_btn:hover{
     color: #f5001e;
     background-color:#fff;
 }
 .yjhd-right_arrow{
    margin-left: 200px!important;
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    margin-top: -29px;
 }
 
 .yjhd_btn:hover .yjhd-right_arrow{
      color: #f5001e;
 }
 
 .try-now-cta{
     margin-top:45px;
 }
 
 .try-now-cta a{
     background: #f5001e;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat';
   color:#fff!important;
   border-radius:5px;
 }
 .try-now-cta a:hover{
     background:#fff;
     color:#f5001e!important;
     border:1px solid #f5001e;
 }
 
 
    .mobile-epic-know-more{
         text-align: center;
         margin-top: 20px; 
         display: none;
    }   

    .mobile-epic-know-more a{
        color: #fff;
        text-decoration: underline;
    }
  @media only screen and (min-width:1402px) and (max-width:1668px){
    .choose_sec::before {
        top: -102%;
        left: 25%;
        height: 162vh;
        z-index: -1;
        width: 75%;
    }
  }
  @media only screen and (min-width:1201px) and (max-width:1401px){
    .awaits_sec .heading h2::before {
        left: 13%;
    }

    .awaits_sec .heading h2::after {
        right: 13%;
    }

    .craft_img {
        margin-top: -64px;
        margin-left: -45px;
        height: 430px;
    }
    .mwp_main_cont::before {
       
        left: -43px;
    }

    .choose_sec::before {
        top: -110%;
        left: 23%;
        width: 77%;
        height: 175vh;
    }

    .jawaani {
        margin-top: 60px;
    }
    .bridal_sec .card .vendor-col h6 {
        margin-top: -4px;
    }
    .ribbon1:after {
        height: 0;
        width: 0;
        right: -14.5px;
        border-top: 28px solid transparent;
        border-bottom: 28px solid transparent;

        top: 0px;
    }
  }
  

/* Aishwarya */
@media only screen and (max-width:480px) {
    .hr-cities {
        width: 100%;
    }

    .content1::after {
        content: "";
        background-image: url(../image/service/Component10–2.png);
        background-size: cover;
        position: absolute;
        top: -85px;
        right: 0px;
        width: 88%;
        height: 345px;
        background-position: center center;
    }

    .content4::after {
        content: "";
    background-image: url(../image/service/content5.svg);
    background-size: cover;
    position: absolute;
    top: 300px;
    right: 0px;
    width: 88%;
    height: 170px;
    background-position: center center;
    }

    .dream_sec {
        height: 260vh;
    }

    .content1 {
        padding: 200px 0px 0 50px;
        top: -150px;
    }
    .dream_timetable {
        padding-top: 0px;
    }
    .jawaani_bg {
        height: 600px;
    }
    .jawaan_couple {
        right: -45px;
        bottom: 180%;
    }
    .yjhd-col {
        margin-left: 0px;
    }

    }

    /* Aishwarya */
    @media only screen and (max-width:360px) {
        .hr-cities {
            width: 100%;
        }

        .content1::after {
            content: "";
            background-image: url(../image/service/Component10–2.png);
            background-size: cover;
            position: absolute;
            top: 300px;
    right: 0px;
    width: 88%;
    height: 200px;
            background-position: center center;
        }

        .content4::after {
            content: "";
    background-image: url(../image/service/content5.svg);
    background-size: cover;
    position: absolute;
    top: 300px;
    right: 0px;
    width: 88%;
    height: 170px;
    background-position: center center;
        }

        .dream_sec {
            height: 260vh;
        }
        .content1 {
            padding: 200px 0px 0 50px;
            top: -150px;
        }
        .dream_timetable {
            padding-top: 0px;
        }
        .jawaani_bg {
            height: 600px;
        }
        .jawaan_couple {
            right: -45px;
            bottom: 180%;
        }
        .yjhd-col {
            margin-left: 0px;
        }
    }