/* Wedding tool section*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
.planning-tool-section{
 margin: 0 auto;
 padding-top: 40px;
 padding-bottom: 40px;
}
.wedding-planning-btn-mobile{
display: none !important;
}
.planning-tool-content h5{
	color: #0D0D0D;
	font-family: 'Montserrat', sans-serif;
}
.wedding-planning-content .Journey-h5-mob, .Journey-h5-mob{
  display: none;
}

.banner-section-heading {
    text-align: center;
}

.wedding-planning-btn-mobile{
    display: none;
}

.banner-section-heading h1 {
    padding-top: 145px;
    color: #ffffff8c;
    font-size: 80px;
    font-weight: 800;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.planning-tool-content{
  text-align: right;
  position: relative;
  padding-top: 30px;
}

.planning-tool-content:after{
 content:url('../image/service-1/verticle-line.png'); /* with class ModalCarrot ??*/
  position: absolute;
  /*z-index: 100000;*/
  left: 103%;
  top: -1px;
}

.planning-tool-content h2{
   font-family: 'Montserrat';
   color: #FD152A;
   font-size: 55px;
   font-weight: 300;
}

.planning-tool-content h3{
	  font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 900;
    color: #FD4251;
}

.wedding-experience-content{
  text-align: left;
  position: relative;
  padding-top: 30px;
  margin-left: 25px;
}

.wedding-experience-content p{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #000000;
  font-weight: 500;
}


.wedding-experience-content h5{
   font-family: 'Montserrat';
   font-size: 30px;
}


/*Budget Calculator Section*/

.budget-calculator-section{
  margin: 0 auto;
  padding-top: 60px;
}

.wedding-budget-col-1:hover{
  box-shadow: 10px 0 5px -2px #dee2e6;
  border-radius: 15px;
  position: relative;
  padding: 18px;
}

.wedding-budget-col-1:hover:before{
   content:url('../image/service-1/verticle-line-1-1.png'); /* with class ModalCarrot ??*/
   position: absolute;
   left: 0%;
   top: 0px;
}
.wedding-budget-content{
   padding: 40px;
}

.wedding-budget-heading{
   position: relative;
   padding-left: 20px;
}

.wedding-budget-heading h3{
  font-size: 25px;
  color: #323233;
  font-weight: 800;
  font-family: 'Montserrat';
}

.cal-stroke{
    /*margin: 20px auto; */
    width: fit-content;
    text-align: center;
    font-size: 30px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px #FD4251;
    position: relative;
    font-family: 'Montserrat';

}

/*.cal-stroke::before {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0px;
  -webkit-text-fill-color: #ff5722;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}
.cal-stroke:hover::before {
  width: 100%;
}*/

.wedding-budget-para{
  padding-top: 20px;
  margin-left: -47px;
}
.wedding-budget-para p{
  font-size: 16px;
  font-family: 'Montserrat';
  color: #323233;
}

.wedding-budget-btn{
   text-align: right;
   margin-top: 20px;
}
.wedding-budget-btn a{
    text-align: center;
    background-color: #FD4251;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 2px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin-top: -15px;
}

.wedding-budget-btn a:hover{
    color: #FD4251;
    background: #fff;
    border: 1px solid #FD4251;
}
.wedding-budget-btn button{
  text-align: center;
  background-color: #FD4251;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 2px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.wedding-budget-heading:before{
   content:url('../image/service-1/calculator-icon.png'); /* with class ModalCarrot ??*/
   position: absolute;
   left: -10%;
   top: 4px;

}

.wedding-budget-heading-2:before{
    content:url('../image/service-1/checklist-icon.png'); /* with class ModalCarrot ??*/
   position: absolute;
   left: -10%;
   top: 4px;
}

.wedding-budget-btn-col-2{
  margin-top: 40px;
}
/*Our tool section*/

.our-tools-section{
    margin: 0 auto;
    padding-top: 10px;
    /*padding-bottom: 25px;*/
    /*padding-bottom: 85px;*/
}

.why-choose-heading h2{
  font-family: 'Montserrat';
  font-size: 30px;
}

.why-choose-heading{
   margin-bottom: 20px;
}

.our-tool-image{
 text-align: center;
}

/*.our-tool-col{
  padding: 0px 20px 0px 20px;
  background-color: #FD4251;
  border-radius: 60px;
  height: 100px;
  margin-top: 50px;
}
*/
.our-tool-content{
    background-color: #E8E8E8;
    padding: 20px 15px 20px 25px;
    text-align: center;
    z-index: 10;
    position: relative;
    border: 45px;
    margin-top: -60px;
    margin-bottom: 20px;
    border-radius: 26px;
    border: 8px solid #fff;
    -moz-box-shadow: 0px 3px 8px rgb(100,100,100);
    -webkit-box-shadow: 0px 3px 8px rgb(100,100,100);
    box-shadow: 0px 3px 8px rgb(100,100,100);
    height: 230px;
    display: inline-flex;
}

/*#our-tool-1:before{
  content:url('../image/service-1/one-icon.png'); 
  position: absolute;
  left: 4%;
  top: 30px;
}
#our-tool-2:before{
  content:url('../image/service-1/two-icon.png'); 
  position: absolute;
  left: 4%;
  top: 30px;
}

.our-tool-icon:before{
  content:url('../image/service-1/rectangle-1.png'); 
  position: absolute;
  left: 0%;
  top: 30px;
}
*/
/*#our-tool-1{
  background: url("../image/service-1/one-background.png") center center no-repeat;
  background-size: contain;
}
*/
/*Wedding planning section*/
.our-tool-icon img{
  width: 30px;
}
.our-tool-heading h6{
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}
.wedding-planning-section{
  margin: 0 auto;
  /*padding-top: 65px;*/
}

.wedding-planning-content{
  margin-left: 130px;
  margin-top: 55px;
}

.wedding-planning-content h6{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.wedding-planning-content h3{
    color: #FD4251;
    font-size: 30px;
    font-weight: 900;
   font-family: 'Montserrat', sans-serif;
}

.tool-image img{
    width: 1195px;
    /*margin-left: -90px!important;*/

}

.wedding-planning-content h5{
	color: #3F3F3F;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.wedding-para{
  margin-left: 49px;
}
.wedding-para p{
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
}
.wedding-planning-image img{
  width: 100%;
}

.wedding-planning-btn{
  margin-top: 35px;
  display: inline-flex;
  margin-left: 40px;
}

.wedding-planning-btn a{
	background-color: rgb(253,66,81);
    color: #fff;
    padding: 10px;
    font-size: 14px;
    font-weight: 800;
    font-family: 'Montserrat';
    text-decoration: none;
    width: 250px;
    display: block;background-color: rgb(253,66,81);
    text-align: center;
    margin-left: 10px;
    margin-top: 20px;
}

.wed-plan-btn:hover{
  color: #FD4251;
  background: #fff;
  border: 1px solid #FD4251;
}

.wedding-planning-content{
	position: relative;
}
.wedding-planning-content:before{
   content:url('../image/about/MWP-ap-Vendor-Categories.png'); /* with class ModalCarrot ??*/
   position: absolute;
   left: -23%;
   top: -7px;
}

.wedding-planning-col-1{
	position: relative;
	    background-image: url(../image/service/Group1486.png);
    height: 400px;
}
.wedding-planning-col-1:before{

   content:url('../image/service-1/verticle-line-1.png'); /* with class ModalCarrot ??*/
   position: absolute;
   left: 5%;
   top: 10px
}


/*Social share section*/
#social-share-id{
   padding-top: 30px!important; 
   margin: 0 auto!important; 
}



/*Budget popup*/


.budget-popup{
   max-width: 813px!important;
} 


.budget-popup-form{
  padding: 30px 0 0 0px!important;
}


.budget-popup-form .heading h3{
  padding: 0px 0 0 15px!important;
}


.pop-up-logo{
  margin-top: 10px!important;
}


.budget-popup-form h2{
    font-size: 40px;
    margin-top: 30px;
    color: #ee182b;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width:480px){
  .wedding-planning-image img {
    width: 100%;
}
.Journey-h5-mob {
    display: block;
}
.banner-section-heading h1 {
  font-size: 40px;}

.planning-tool-content h3 {
  font-size: 40px;
}
/* .tool-image img{
  display: none;
} */
.Journey-h5-mob {
    display: block !important;
}
.wedding-planning-btn-desktop{
  display: block !important;
     }
     .wedding-planning-btn-mobile{
      margin-top: 35px;
      display: inline-flex;
      margin-bottom: 15px;
      margin-left: 0px;
     }
     .wedding-planning-col-1:before {
      display: none;
     }
     .planning-tool-content {
      text-align: left; 
  }
  .planning-tool-content:after {
    display: none;
  }
  .wedding-budget-heading {
    padding-left: 50px;
}
.wedding-budget-btn {
  text-align: center;
}
.planning-tool-section {
  padding-bottom: 2px;
}
.budget-calculator-section { 
  padding-top: 5px;
}
.wedding-budget-para {
  margin-left: 0px;
}
.wedding-planning-content:before {
  left: -46%;
}
.tool-image .Journey-h5-desk{
  display: none !important;
}
.tool-image .Journey-h5-mob{
  width: 80%;
  margin-left: 38px !important;
}

.wedding-planning-content h5{
  font-size: 23px; 
    margin-left: -50px;
}
.why-choose-heading h2 {
    font-size: 25px;
}
}

@media only screen and (max-width:360px){
  .wedding-planning-image img {
    width: 100%;
}
/* .tool-image img{
  display: none;
} */
.Journey-h5-mob {
    display: block !important;
}
.wedding-planning-btn-desktop{
  display: block;
     }
     .wedding-planning-btn-mobile{
      margin-top: 35px;
      display: inline-flex;
      margin-bottom: 15px;
      margin-left: 0px;
     }
     .wedding-planning-col-1:before {
      display: none;
     }
     .planning-tool-content {
      text-align: left; 
  }
  .wedding-budget-heading {
    padding-left: 50px;
}
.wedding-budget-btn {
  text-align: center;
}
.planning-tool-section {
  padding-bottom: 2px;
}
.budget-calculator-section { 
  padding-top: 5px;
}
.wedding-budget-para {
  margin-left: 0px;
}
.wedding-planning-content:before {
  left: -46%;
}
.tool-image .Journey-h5-desk{
  display: none;
}
.planning-tool-content h3 {
  font-size: 40px;
}
.banner-section-heading h1 {
  font-size: 40px;}
  
  .Journey-h5-mob {
    display: block;
}
.why-choose-heading h2 {
    font-size: 25px;
}
}