@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
.WPModelcontent{
    text-align: center;
    
}


.WPModelcontent h2{
	color: #ee182b;
    margin-bottom: -10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.WPModelcontent p{
	font-size: 16px;
    padding: 10px 30px;
   font-family: 'Montserrat', sans-serif;
}

label{
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
}


.plnningModalbtn{
   background: #ee182b;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}


.plnningModalbtn:hover{
	  border:2px solid #ee182b;
	  background-color: #fff;
	  color:#ee182b;
}